.des-about
	padding-left 30px
	padding-right 30px
	line-height 20px
	margin-bottom 30px
	text-align left
	line-height 22px
	min-width 400px
	font-family Verdana
	h3
		font-size 20px
		text-align center
		margin-bottom 20px
	p
		font-size 14px
		//padding 0 30px 0px 30px
		//text-indent 40px
		margin-top 15px
		
	span
		font-size 14px
		//padding 0 30px 0 0px
	span.t-bold
		font-size 14px
		font-weight bold
		//padding 20px 0px 0 100px
		
	ul
		li
			list-style-type disc
			font-size 14px
			margin-left 40px
			a
				color blue
				margin-left 10px
.map-wrap
	margin-bottom 20px
	width 100%

.bron-for-hotel-pages
	color #fff
	position absolute
	top 210px
	left 300px

	
.main-hotel-img
	background rgba(0,0,0,0) url('../img/isidor/isidor_main.jpg') center center no-repeat
	z-index 2
	display block !important
	height 330px
	margin-top 2px
	margin-bottom  2px


.name-hotel-h2
	position absolute
	top 50px
	left 0px
	text-align left
	h2
		padding-left 100px
		color #fff
		font-size 100px
		font-family corinthiaregular
		text-shadow 0 5px 3px rgba(0,0,0,0.8) 
		
.what
	position absolute
	top 60px
	left 0px
	text-align left
	p
		padding-left 40px
		color #fff
		font-size 25px
		font-family helv__thin
		text-shadow 0 5px 3px rgba(0,0,0,0.8)
		font-weight 800

.place-text
	position absolute
	top 155px
	left 0px
	text-align left
	p
		padding-left 280px
		color #fff
		font-size 27px
		font-family helv__thin
		text-shadow 0 5px 3px rgba(0,0,0,0.8)
		font-weight 300

.map-wrap
	display block
	