.des-about
	padding-left 30px
	padding-right 30px
	line-height 20px
	p
		font-size 14px
		//padding 0 30px 0px 30px
	span
		font-size 14px
		//padding 0 30px 0 0px
	span.t-bold
		font-size 14px
		font-weight bold
		//padding 0px 0px 0 30px
.map-wrap
	margin-bottom 20px