.contacts-wrap
	padding 20px 10px
	padding-left 30px
	text-align left
	min-width 400px
	h3
		margin-top 20px
		margin-bottom 5px
	span
		color #888
		font-size 14px
	p
		font-size 14px
		color #888
		margin-bottom 5px
		line-height 20px
		a
			color #44d
	ul
		li
			list-style-type disc
			font-size 14px
			margin-left 40px
			color #888



.contacts-img
	background rgba(0,0,0,0) url('../img/general/contacts.jpg') center center no-repeat
	z-index 2
	display block !important
	height 200px
	margin-top 2px
	margin-bottom  2px
	wight 100%
	background-size 100% 100%

.map-wrap
	margin-top 20px
	margin-bottom 20px
	

