
.footer_wrap
	background-color bottom_bg_color
	padding 10px 20px 
	p.phone-company
		text-align center
		font-size 11px
		text-transform uppercase
	p.phone
		font-size 24px
		color  #fff
		text-align center

#page-wrap-footer
	margin-left 0px
	text-align center
	ul 
		width 450px
		margin 10px auto
		li 
			display inline-block
			margin-right 30px
			a
				color #fff
				font-size 14px
				font-weight 600
				&:hover
					text-decoration underline

.soc_seti
	width 300px
	margin 0px auto
	text-align center
	a
		display inline-block
		margin-right 10px
		padding 10px 0px
	
		

.nest_line
	margin 2px auto
	width 400px

	a
		display inline-block
		font-weight 600
		&:hover
			text-decoration underline
	p 
		display inline-block
		
.nest_line#sought
	margin-top 20px