.gallery-wrap
	text-align center
	.gallery-sel
		color #fff
		display inline-block
		width 20%
		margin 10px 5px
		min-width 100px
		img 
			width 100px
			height 100px
			
div.text-name-block-gallery
	text-align center
	background-color #ddd
	width 30%
	margin 0 auto 20px auto
	h3
		font-size 18px
	
	
	