.top_header
	position relative
	//height 100px
	padding 10px 10px 
	text-align left
.header-logo
	padding-left 80px
	float left 
	margin-top -8px
	margin-right 5px
	a
		display block
		&.logo_pict
			font-size 16px
		img
			width 125px
			height 95px

.logo-text
	display inline-block
	//margin 10px
	//padding-bottom 20px
	vertical-align top

	p.caviar-dream
		font-size 45px
		line-height 30px
		color #fff
		font-family caviar_dreamsregular
		padding-top 15px
	p.decor3di
		font-size 17px
		line-height 10px
		color #fff
		font-family webfontregular
		font-stetch condensed
		padding-bottom 0px
		margin-left 3px
		
			
#page-wrap
	display inline-block
	margin-left 100px

ul.dropdown 
	li
		background none
		margin-right 30px
		background-color top_heading_bg_color
		a
			display block
			background none
			color white
			font-size 14px
			text-transform uppercase
			&.active
				background-color #ff7c2f
			&:hover
				text-decoration underline
				background-color  #ff7c2f
				
ul.submenu
	z-index 10
	li
		width 230px
		a
			display block
			font-size 12px
			background-color #666
			text-shadow none
			color #333
			&:hover
				background-color #fff
				color #ff6633
				text-decoration none

// вторе меню 

.stickytop
	position fixed
	top 0
	z-index 10
	display block
	width 100%
.second-nav
	//margin-left 150px 
	//width mainWight
	//width 850px	
	//margin 0 auto 20px auto
	text-align center
	background-color #bbbbbb
	ul
		display inline-block
		vertical-align middle
		li 
			 
			display inline-block
			font-size 20px
			margin-right 25px
			&:last-child 
				margin-right 0px
		a
			display block
			color white
			text-transform uppercase
			padding 0px 15px 
			line-height 30px
			border-radius 5px 
			font-family mainFont
			font-size 14px
			font-weight bold
			&.active
				color #fff
				background-color #bbb
			&:hover
				text-decoration underline
.top-social-links
	float right
	margin-top 5px
	width 190px
	span
		color white
		font-size 20px
		display block
		margin-left 20px
	a 
		display inline-block 
		padding-right 5px
.wrap-soc
	padding 10px 0 0 30px		
	a 
		&:first-child
			margin-left 4git 5px
		img
			margin-left 2px
