.top_header
	position relative
	//height 100px
	padding 10px 10px 
.header-logo
	padding-left 80px
	float left 
	margin-top -20px
	a
		display block
		&.logo_pict
			font-size 16px
		img
			width 100%
			height 130px

.logo-text
	display inline-block
	//margin 10px
	//padding-bottom 20px
	vertical-align top	
	p.caviar-dream
		font-size 50px
		line-height 30px
		color #fff
		font-family caviar_dreamsregular
		padding-top 15px
	p.decor3di
		font-size 20px
		line-height 10px
		color #fff
		font-family webfontregular
		font-stetch condensed
		padding-bottom 0px
		
			
#page-wrap
	display inline-block
	margin-left 20px

ul.dropdown 
	li
		background none
		margin-right 30px
		background-color top_heading_bg_color
		a
			display block
			background none
			color white
			font-size 14px
			text-transform uppercase
			&:hover
				text-decoration underline
				background-color top_heading_bg_color
				
ul.submenu
	z-index 10
	li
		width 230px
		a
			display block
			font-size 12px
			background-color #ddd
			text-shadow none
			&:hover
				background-color #fff
				color #333
				text-decoration none
				
	
// вторе меню 

.stickytop
	position fixed
	top 0
	z-index 10
.second-nav
	margin-left 150px 
	//width mainWight
	width 1250px	
	margin 0 auto 20px auto
	text-align center
	background-color #dcdcdc
	ul
		display inline-block
		vertical-align middle
		li 
			 
			display inline-block
			font-size 20px
			margin-right 25px
			&:last-child 
				margin-right 0px
		a
			display block
			color white
			text-transform uppercase
			padding 0px 15px 
			line-height 30px
			border-radius 5px 
			font-family mainFont
			font-size 14px
			font-weight bold
			&.active
				color #fff
				background-color #bbb
			&:hover
				text-decoration underline
.top-social-links
	float right
	margin-top 5px
	width 170px
	span
		color white
		font-size 20px
		display block
	a 
		display inline-block 
		padding-right 5px
.wrap-soc
	padding 10px 0 0 30px		
	a 
		&:first-child
			margin-left 4git 5px
			

		