.top_header
	position relative
	height 100px
	padding 10px 10px 
.header_logo
	float left 
	a
		display block
		&.logo_pict
			font-size 16px
 
.main_nav
	float left
	margin-left 150px 
	padding-top 25px
	li 
		display inline-block
		font-size 20px
		margin-right 20px
		padding 5px
		&:hover
			background-color white
		a
			color white
			&:hover
				color black
.top_social_links
	float right
	margin-top 25px
	li 
		display inline-block