.tprice
	//border-collapse collapse
	border 1px solid #eee
	tr
		border 1px solid #eee
		td
			border 1px solid #eee
			padding 2px 5px
			&.tcenter 
				text-align center
			&.thead 
				font-weight 800	
table 
	margin-bottom 20px

.price-wrap
	text-align left