.tprice
	//border-collapse collapse
	border 1px solid #777
	border-collapse collapse
	text-align center
	tr
		td
			font-family Verdana
			&.zag-table
					font-weight bold
					font-size 14px
					text-align center
			font-size 14px
			border 1px solid #eee
			padding 5px 5px
			width 200px

			&.thead 
				font-weight 800	
table 
	margin-bottom 20px
.table-wrap
	text-align center




.price-wrap
	text-align left
	padding-left 20px
	ul
		li
			list-style-type disc
			line-height 22px
			margin-left 50px
			font-size 14px
			font-family Verdana
			margin-top 5px
			span
				font-size 14px
				&.t-bolt
					font-weight bold


.price-wrap
	p,span
		font-size 14px
		font-family Verdana
		margin-top 5px
		&.text-zag
			font-weight 600
			font-size 14px
			padding-bottom 10px
	p.zag-table
		font-weight bold
		font-size 14px
		text-align center
