div.room-desc
	width 50%
	height 290px
	border 1px solid  #999
	margin-bottom 20px
	.gallery
		width 300px
		float left
		
	div.desc-text
		color #444
		
.desc-text
	display inline-block
	width 300px
	.header-text
		p
			font-size 18px
			font-width 800
			padding 5px 0px 5px 20px
	.text-item
		margin-bottom 20px
		ul
			list-style-image none
			list-style-type circle
			li
				padding-left 20px 

				
			


.flexslider 
	margin-bottom 10px