

	#is
		display none
	#isplace-holder
		display none

	#hr
		display none
	#hrplace-holder
		display none

	#ro
		display none
	#roplace-holder
		display none

	#pr
		display none
	#prplace-holder
		display none

	#yu
		display none
	#yuplace-holder
		display none

	#po
		display none
	#poplace-holder
		display none