extends ../layout/layout
include ../common/mixins
block title
	| Cтраница все акции


block slider	
block photo_desk



block second_menu


block content
	.base-wrap
		h2.text-name-page Все Акции
		div.action-wrap
			.img
				img(src="../static/img/general/action-1.jpg" alt="")
			.desc-box
				.header
					span Лови момент
				.hotel
					span отель "Византия"
				.data
					span до 31.12.2017
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto excepturi quae cumque inventore officia eaque libero, provident voluptatibus commodi nam ea porro tempora, atque consequuntur amet, error impedit. Est, magnam?
			.bron-button
				button Забронировать
		div.action-wrap
			.img
				img(src="../static/img/general/action-1.jpg" alt="")
			.desc-box
				.header
					span Лови момент
				.hotel
					span отель "Византия"
				.data
					span до 31.12.2017
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto excepturi quae cumque inventore officia eaque libero, provident voluptatibus commodi nam ea porro tempora, atque consequuntur amet, error impedit. Est, magnam?
			.bron-button
				button Забронировать