div.resp
	p.name Галина, Самара	
	p.date 2014-07-20
	p.text Отдыхали здесь в августе 2013г. Все очень понравилось. Номер бронировали заранее . Администратор Наташа очень радушно нас встретила, хоть мы и приехали раньше расчетного часа заезда, номер уже был подготовлен и нас сразу заселили. Младший ребенок после того ,как мы приходили с моря, в номере практически не сидел, то в бассейне резвился , то в холле мультики смотрел и как бы громко они себя там не вели ни разу не слышала, чтобы на них кто за кричал или велел идти в номер. Мы могли в номере отдохнуть и не беспокоиться, что с ними что - то случиться. Спасибо всем сотрудникам за чистоту и порядок.
div.resp
	p.name Галина, Самара	
	p.date 2014-07-20
	p.text Отдыхали здесь в августе 2013г. Все очень понравилось. Номер бронировали заранее . Администратор Наташа очень радушно нас встретила, хоть мы и приехали раньше расчетного часа заезда, номер уже был подготовлен и нас сразу заселили. Младший ребенок после того ,как мы приходили с моря, в номере практически не сидел, то в бассейне резвился , то в холле мультики смотрел и как бы громко они себя там не вели ни разу не слышала, чтобы на них кто за кричал или велел идти в номер. Мы могли в номере отдохнуть и не беспокоиться, что с ними что - то случиться. Спасибо всем сотрудникам за чистоту и порядок.
div.resp
	p.name Галина, Самара	
	p.date 2014-07-20
	p.text Отдыхали здесь в августе 2013г. Все очень понравилось. Номер бронировали заранее . Администратор Наташа очень радушно нас встретила, хоть мы и приехали раньше расчетного часа заезда, номер уже был подготовлен и нас сразу заселили. Младший ребенок после того ,как мы приходили с моря, в номере практически не сидел, то в бассейне резвился , то в холле мультики смотрел и как бы громко они себя там не вели ни разу не слышала, чтобы на них кто за кричал или велел идти в номер. Мы могли в номере отдохнуть и не беспокоиться, что с ними что - то случиться. Спасибо всем сотрудникам за чистоту и порядок.