.base-wrap
	h2.text-name-page Контакты
	.contacts-wrap
		.contacts-tel
			span Тел.: 
			p +7 (...) ... .. ..
		.contacts-email
			span E-mail: 
			p  ...@....ru
		.contacts-address
			span Наш адрес: 
			p Россия, Краснодарский край, г-к Анапа, поселок Витязево, Александрийский проезд, д.15. 
		.contacts-transfer
			span Трансфер: 
			P ...
		.contacts-how-to-get
			span Проезд: 
			P ..
			