.base-wrap
	h2.text-name-page Фотогалерея
	//div.text-name-block-gallery
		//h3 Номера
	div.gallery-wrap
		div.gallery-sel
			a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
				img(src="../static/img/general/lipki.png")
		div.gallery-sel
			a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
				img(src="../static/img/general/lipki.png")
		div.gallery-sel
			a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
				img(src="../static/img/general/lipki.png")
		div.gallery-sel
			a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
				img(src="../static/img/general/lipki.png")
