.base-wrap
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
			img(src="../static/img/general/lipki.png")
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
			img(src="../static/img/general/lipki.png")
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
			img(src="../static/img/general/lipki.png")