extends ../layout/layout
include ../common/mixins
block title
	| Главная страница


block slider	
block photo_desk




block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('class_visantia','javascript:void(0);','block_visantia_rooms.html','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);') 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p Стандарт одноместный
				div.text-item
					ul
						li Описание номера: спальня, ванная комната.
						li В номере: односпальная  кровать, ТВ, холодильник.
						li В ванной комнате: туалет, душ, фен.
				a(href="javascript:void(0);").bron Забронировать 