extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Христакис" - Контакты


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-christakis
		.bron-for-hotel-pages
			#search-widget-chistakis
		.banner
			.inner
				+hname('Отель','Христакис','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('christakis','/christakis_about.html','/christakis_rooms.html','/christakis_price.html','/promoution.html','/christakis_gallery.html','/christakis_response.html','/christakis_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель Христакис
		.contacts-wrap
				p 353440, Анапа, пос. Витязево, ул. Роз, д.20
				p Отдел размещения и бронирования +7 918 483 21 51
				p E-mail:   
					a(href="mailto:gkhristakis@mail.ru")  gkhristakis@mail.ru
				p Как добраться: 
					a(href="/how_to_get_vitazevo.html") Как добраться до Витязево.

				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=5iFUSwqR4ePGdIKvUF6jOEkJOkqCQPke&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_chistakis.js")