extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Об отеле "  Отеля Христакис


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-chistakis
		.banner
			.inner
				+hname('Отель','Христакис','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('christakis','/christakis_about.html','/christakis_rooms.html','/christakis_price.html','/christakis_promoution.html','/christakis_gallery.html','/christakis_response.html','/christakis_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Отель «Христакис» 2*
			p Отель «Христакис» находится в курортном поселке Витязево, в 10 минутах ходьбы от широкого песчаного пляжа. Имеет удачное расположение, рядом с центром развлечений Паралия, на территории которого найдется занятие для каждого: детские аттракционы, зоопарк, боулинг, летние кафе и экскурсионные бюро, сувенирные лавки, банкоматы. В отеле - комфортабельные номера, крытый бассейн с подогревом, детская площадка, детская и взрослая анимация, и он прекрасно подходит для пляжного семейного отдыха.
			p
				b Адрес отеля: 
				span 353440, Анапа, пос. Витязево, ул. Роз, д.20.
			p
				b Расстояние 
				span до центра Анапы 12 км, до аэропорта 8 км, до пляжа 700 м, до моря 900 м.
			p
				b Пляж: 
				span муниципальный (общественный) песчаный, услуги проката.
			p
				b Год строительства: 
				span 2008
			p
				b Территория: 
				span 0,05 га ухоженная.
			p
				span.t-bold Номера:
			p
				ul
					li 2-местный: сплит-система, ТВ, холодильник, санузел, душ, балкон, двуспальная кровать 1,4*1,8, доп. место - кресло-кровать;
					li 3-местный: сплит-система, ТВ, холодильник, санузел, душ, балкон, двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, доп. место - кресло-кровать;
					li 2-местный цокольный этаж: сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, доп. место - кресло-кровать;
					li 3-местный  цокольный этаж: сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, доп. место - кресло-кровать.
			p Покрытие пола – ламинат. Общее количество номеров: 43.  Уборка номеров - ежедневно, смена постельного белья - раз в неделю, смена полотенец - раз в 3 дня.
			p
				b Питание: 
				span  3-разовое по системе «все включено» («шведский стол», безалкогольные и алкогольные напитки местного производства) с 20 мая по 30 сентября. В низкий сезон, с 1 октября по 10 октября – комплексное меню с элементами «шведского стола».
			p
				b В стоимость включено: 
				span В стоимость включено: проживание, пользование бассейном, Wi-Fi на стойке регистрации, анимация.
				p При размещении в отеле не гарантируется этаж, вид из окна, расположение номеров рядом, спальное место (двуспальная кровать или раздельные кровати), если данной информации нет в описании номера. Данные опции предоставляются по возможности.
			p
				b Дети 
				span принимаются с любого возраста:
			ul
				li до 3 лет размещаются бесплатно без предоставления места, с питанием. Стоимость детской кроватки - 300 рублей/сутки (доп.услуга);
				li от 3 до 6 лет бесплатно на дополнительном месте.
			p Детям: 
				span детское отделение в бассейне, детская площадка, высокие стульчики в столовой, детская кроватка в номере, развлекательные программы (анимация).
			p
				b Документы при заселении: 
				span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			p
				b Расчетный час: 
				span заезд с 14:00, выезд до 12:00.
			p
				b  Инфраструктура: 
				span бассейн 4х7 метра с подогревом и пресной водой, сейф на стойке регистрации, парковка при наличии мест, Wi-Fi на стойке регистрации, услуги прачечной, детская площадка, детская и взрослая анимационная программа, кафе.
			p
				b  Спорт: 
				span пляжный волейбол.
			p
				b Услуги: 
				ul
					li парковка неохраняемая – 200 руб./сутки;
					li продление номера (по возможности) – 200 руб./час;
					li прокат пляжных принадлежностей.
			p
				b Курение: 
				span разрешается только в строго отведенных местах.
			p
				b Животные: 
				span привозить животных не разрешается.
			p
				b Контакты: 
				ul
					li  Отдел бронирования (Анапа): +7 918 483 21 51    
						a(href="mailto:gkhristakis@mail.ru") gkhristakis@mail.ru
					li Служба размещения: +7 918 483 21 51

	script(src="static/js/widget_chistakis_internal.js")


