extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Цены "  Отеля Христиакис


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-chistakis
		.banner
			.inner
				+hname('Отель','Христиакис','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('christakis','/christakis_about.html','/christakis_rooms.html','/christakis_price.html','/christakis_promoution.html','/christakis_gallery.html','/christakis_response.html','/christakis_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Христакис. Цены.
			p.text-zag Номера:

			ul
				li 
					span.t-bolt 2-местный: 
					span сплит-система, ТВ, холодильник, санузел, душ, балкон, двуспальная кровать 1,4*1,8, доп. место - кресло-кровать;
				li
					span.t-bolt 3-местный: 
					span сплит-система, ТВ, холодильник, санузел, душ, балкон, двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, доп. место - кресло-кровать;
				li
					span.t-bolt 2-местный цокольный этаж: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, доп. место - кресло-кровать;
				li
					span.t-bolt 3-местный  цокольный этаж:
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, доп. место - кресло-кровать.

			</br>
			p.text-zag Стоимость проживания на основном месте, руб. /сутки, (без питания)
			.table-wrap
				table.tprice
					tr
						td.zag-table Период
						td.zag-table 2-местный
						td.zag-table 3-местный
						td.zag-table 2-местный,3-местный цокольный этаж
						td.zag-table доп. место
					tr
						td 20.05 – 31.05
						td 650
						td 650
						td 600
						td 300
					tr
						td 01.06 – 15.05
						td 780
						td 780
						td 750
						td 400
					tr
						td 16.06 – 25.06
						td 1050
						td 1050
						td 1000
						td 500
					tr
						td 26.06 – 25.08
						td 1500
						td 1500
						td 1250
						td 650
					tr
						td 26.08 – 15.09
						td 900
						td 900
						td 850
						td 450
					tr
						td 16.09 – 10.10
						td 650
						td 650
						td 600
						td 300
			p
				b В стоимость включено: 
				span проживание, пользование бассейном, Wi-Fi на стойке регистрации, анимация.
			p
				b Дети: 
				span принимаются с любого возраста:
			
			ul
				li до 3 лет бесплатно, без предоставления места, с питанием. Стоимость детской кроватки - 300 рублей/сутки (доп. услуга);
				li от 3 до 6 лет бесплатно на дополнительном месте. 

			p
				b Стоимость питания:
			p с 20.05 по 30.09 – 3-разовое  питание «шведский стол»
			ul
				li дети до 3 лет – бесплатно;
				li дети от 3 до 13 лет - 450 руб. в день;
				li взрослые 750 руб. в день.
			p с 29.04. по 19.05 и с 01.10 по 10.10  – 3-разовое комплексное питание с элементами «шведского стола».
			ul
				li дети до 3-х лет – бесплатно;
				li дети от 3-х до 13 лет - 300 руб. в день;
				li взрослые – 600 руб. в день.
			p
				b Услуги:
			ul 
				li парковка неохраняемая – 200 руб./сутки;
				li продление номера (по возможности) – 200 руб./час;
				li прокат пляжных принадлежностей.
			</br>
			</br>
	script(src="static/js/widget_chistakis_internal.js")


