extends ../layout/layout


include ../common/mixins


block title
	| Как добраться


block slider	


block photo_desk
block second_menu
	//include ../common/second_menu


block content
	.base-wrap

		.contacts-wrap
			h3 Как добраться до Витязево.
			p Поселок Витязево находится в 13 километрах от центра Анапы, в 8 км от аэропорта Анапы, в 8 км от ж/д вокзала Анапы, в 40 км от станции Тоннельная. 
			p Если Вы приезжаете на автовокзал в Анапу, аэропорт в Витязево,  ж/д вокзал Анапы или ж/д станцию «Тоннельная», то с легкостью можете попасть в Витязево на автобусе или маршрутном транспорте, не переплачивая таксистам. Однако, лучшим способом сберечь время и нервы будет предварительно заказанный трансфер.
			p Стоимость проезда в маршрутном такси по городу составляет 11 рублей, Анапа — Витязево 26 рублей. Внутренний маршрут поселка Витязево №23 ходит только летом. Стоимость проезда в нем 8 руб.
			h3 Общественным транспортом добраться до Витязево.
			p 
				b От аэропорта Анапы.
			p Маршрут №113 Аэропорт — Центральный рынок г. Анапа.
			p Доехать до Пионерского пр-та, а там пересесть на  на №114, 128, 134  и ехать на маршрутке до Витязево.
			p Полный маршрут: Аэропорт – ж/д вокзал – Пионерский проспект  – автовокзал (Ц. Рынок).
			p
				b От ж/д вокзала Анапы.
			p Маршрут №100
			p Доехать до Пионерского пр-та. Оттуда пересесть на любую маршрутку №114, 128, 134  и ехать до Витязево.
			p Полный маршрут №100: Микрорайон 12 (Южный рынок) — Моршкола — Горбольница — ул. Черноморская — Ц. Рынок — Автовокзал — 5 школа — сан. «Россиянка» — Урал — панс. «Родник» — ж/д вокзал — п. Воскресенский
			p Маршрут №129
			p Доехать до Пионерского пр-та. Оттуда пересесть на любую маршрутку №114, 128, 134 до Витязево.
			p Полный маршрут №129: Микрорайон 12 — Джемете — ж/д Вокзал — п. Цыбанобалка — х. Пятихатки
			p 
				b От станции Тоннельная.
			p Автобус «Тоннельная-Анапа». Проезд стоит 38 рублей. Доехать до автовокзала Анапы, оттуда пересесть на маршрутку №114, 128, 134 и ехать до Витязево.
			p
				b От автовокзала Анапы (из центра Анапы).
			p Маршрут №128 Анапа — Витязево.
			p Доехать до остановки сан. «Аквамарин» и пройти 200 метров назад. 
			p Маршрут: ул. Ленина (центр города) – ул Крымская – автовокзал (Ц. рынок) – Пионерский проспект –Джемете – Пионерский проспект - «Жемчужина России» - парк «Аквамарин».
			p Маршрут №114 Анапа - Витязево
			p Маршрут: ул. Астраханская – ул. Крымская – ул. Первомайская – ул. Северная – ул. Красноармейская – ул. Пионерский проспект - п. Витязево (в глубь посёлка, от моря).
			p На маршрутке №114 можно доехать: центральный рынок – автовокзал, северный рынок, Пионерский проспект, Дельфинарий и Океанариум на Пионерском проспекте, п. Витязево, Паралия.
			p Маршрут №134 Микрорайон 3Б (Анапа) - Витязево
			p Маршрут: ул. Астраханская – ул. Крымская – ул. Первомайская – ул. Северная – ул. Красноармейская – ул. Пионерский проспект - п. Витязево (в глубь посёлка, от моря).
			p На маршрутке №134 можно доехать: центральный рынок – автовокзал, северный рынок, Пионерский проспект, Дельфинарий и Океанариум на Пионерском проспекте, п. Витязево, конечная ЛОК «Витязь» (боулинг – клуб, дайв-центр, пляж Витязево).
			p Более подробную информацию о расписании движения общественного транспорта в г. Анапа можно узнать по телефонам автовокзала:
			p +7(861)335-68-61 (справочная),
			p +7(861)335-68-97 (диспетчер),
			p +7(861)335-66-79 (кассир).

			p Другие варианты, как добраться до Витязево:
			ul 
				li предварительно заказанный трансфер;
				li аренда машины;
				li такси.

