extends ../layout/layout


include ../common/mixins


block title
	| Главная страница


block slider	
	.main-slider-wrap
		ul.main-slider
			li
				img(src="../static/img/content/slider/main_slider_1.jpg" alt="")
			li
				img(src="../static/img/content/slider/main_slider_2.jpg" alt="")
			li
				img(src="../static/img/content/slider/main_slider_3.jpg" alt="")

block photo_desk
block second_menu
	//include ../common/second_menu


block content
	.base_wrapp
		-  var x = 'тест переменных';
		p #{x}
		+mtest('просто = ',6)
		section.promotion.h1_style
			h2 Акции
			 
			
			div.j-wrapper
				.jcarousel
					ul
						li
							div.item
								div.img
									a(href="javascript:void(0);")
										img(src="../static/img/general/prom-1.jpg") 
									span до 32 января
								div.name
									a(href="javascript:void(0);")  В день рождения - подарок!
								div.desc
									div.hotel-name
										a(href="javascript:void(0);") Отель Византия
									div.location Иваново
						li
							img(src="../static/img/general/prom-2.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
				a(href="javascript:void(0);").jcarousel-control-prev  
				a(href="javascript:void(0);").jcarousel-control-next 	
			
			
		section.news.h1_style
			h2 Новости
			.block-item-news
				
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №1')
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №2')
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №2')
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №1')
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №2')
				+mnews('../static/img/general/89_106_lipki.jpg','10.02.2017','проверка миксина №2')

				.all-news
					a(href="javascript:void(0);") все новости

		section.our-hotels.h1_style
			h2 Наши отели
			.block-item-hotels
				-  var text_hotel = 'LARK Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …';
				
				+mhotel('../static/img/general/lipki.png','Отдых','Загородный отель на озере','LARK Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …','от 1700')
				.item-hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc-hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p 1 Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
				.item-hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc-hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p 2 Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
					




		


