extends ../layout/layout

block title
	| Главная страница


block slider	
block second_menu
	include ../common/second_menu


block content
	.base_wrapp
		p основной
		section.news
			h2 Новости
			.block-item-news
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.all-news
					a(href="javascript:void(0);") все новости

		section.our_hotels
			h2 Наши отели
			.block-item-hotels
				.item_hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc_hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
				.item_hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc_hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
					




		


