extends ../layout/layout

block title
	| Главная страница


block slider	
	.main_slider_wrap
		ul.main_slider
			li
				img(src="../static/img/content/slider/slider_1.jpg" alt="")
			li
				img(src="../static/img/content/slider/slider_2.jpg" alt="")
			li
				img(src="../static/img/content/slider/slider_3.jpg" alt="")

block photo_desk
block second_menu
	//include ../common/second_menu


block content
	.base_wrapp
		section.promotion
			h2 Акции	
			div.j-wrapper
				.jcarousel
					ul
						li
							div.item
								div.img
									a(href="javascript:void(0);")
										img(src="../static/img/general/prom-1.jpg") 
									span до 31 января
								div.name
									a(href="javascript:void(0);")  В день рождения - подарок!
								div.desc
									div.hotel-name
										a(href="javascript:void(0);") Отель Византия
									div.location Иваново
						li
							img(src="../static/img/general/prom-2.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
						li
							img(src="../static/img/general/prom-3.jpg") 
				a(href="javascript:void(0);").jcarousel-control-prev  
				a(href="javascript:void(0);").jcarousel-control-next 	
			
			
		section.news
			h2 Новости
			.block-item-news
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.item-news
					.img
						a(href="javascript:void(0);")
							<img src="../static/img/general/89_106_lipki.jpg" alt="">
					.desc
						.date
							span 09.09.2016
							a(href="javascript:void(0);") Новые цены в отелеотеле отеле отеле отеле отеле отеле отеле...
				.all-news
					a(href="javascript:void(0);") все новости

		section.our-hotels
			h2 Наши отели
			.block-item-hotels
				.item-hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc-hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
				.item-hotel
					.img_hotel
						a(href="javascript:void(0);") 
							img(src="../static/img/general/lipki.png")
					.desc-hotel
						.hotel-info
							.name
								a(href="http://www.atelica.ru/atelika-lipki/description/") Липки
							.geo
								p Загородный отель  </br> XXXX район
							.logo
						.hotel-text
							p Загородный отель «АТЕЛИКА ЛИПКИ» расположен на западе Московской области, в Одинцовском районе, в живописных окрестностях Звенигорода с экологически чистой природой, называемой «Русской Швейцарией». Отель представляет собой единый архитектурный …
						.hotel-price-info
							.hotel-price 
								span от 1700 
								span.rub P
								a(href="javascript:void(0);").bron Забронировать
					.dop-menu
						.inline-block.desc
							a(href="javascript:void(0);") Описание
						.inline-block.price
							a(href="javascript:void(0);") Цены
						.inline-block.foto
							a(href="javascript:void(0);") Фото
						.inline-block.rewiews
							a(href="javascript:void(0);") Отзывы
					




		


