extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Исидор" - Контакты


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/promoution.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Исидор»
		.contacts-wrap
				p 353440, Анапа, пос. Витязево, проспект Южный, д.25
				p Отдел размещения и бронирования +7 918 483 21 51
				p E-mail:   
					a(href="mailto:isidor08@mail.ru")  isidor08@mail.ru 
				p Как добраться: 
					a(href="/how_to_get_vitazevo.html") Как добраться до Витязево.

				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=VPztNR_I2SVEBtLRyjleLnHKogRy16Wj&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_isidor.js")

