extends ../layout/layout
include ../common/mixins
block title
	| Страница  "Акции" Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Акции
		.promo-single-wrap
			.img
				img(src="../static/img/general/promo-1.jpg")
			.promo-text-block
				.promo-text-block-left
					span.simbol &#9899
					span Ранее бронирование
					</br>
					span.simbol &#9899
					span Отель "Исидор", Анапа
				.promo-text-block-right
					span.simbol &#9899
					span 01.02-31.03
					</br>
					span.simbol &#9899
					span Скидки 5%
			.select-prom
				.b-wrap
					a#standart(href="javascript:void(0);").bron Забронировать
		.promo-single-wrap
			.img
				img(src="../static/img/general/promo-2.jpg")
			.promo-text-block
				.promo-text-block-left
					span.simbol &#9899
					span Продли удовольствие
					</br>
					span.simbol &#9899
					span Отель "Исидор", Анапа
				.promo-text-block-right
					span.simbol &#9899
					span 01.02-31.03
					</br>
					span.simbol &#9899
					span Скидки 10%
			.select-prom
				.b-wrap
					a#standart(href="javascript:void(0);").bron Забронировать