extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Номера"Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 16.


			.knopka
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 1 доп. место - кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 15.
						
			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 2 доп. места - диван-кровать;
						li основных мест: 2;
						li дополнительных мест: 2;
						li номеров в отеле: 17.

			.knopka
				a#isidor-standart2-dbl-plus-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 4.

			.knopka
				a#isidor-standart2-dbl-twin(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li две односпальные кровати 0,9*1,8;
						li 2 доп. места - диван-кровать;
						li основных мест: 2;
						li дополнительных мест: 2;
						li номеров в отеле: 1.

			.knopka
				a#isidor-standart2-dbl-twin-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li односпальная кровать 0,9*1,8;
						li основных мест: 3;
						li дополнительных мест: 0
						li номеров в отеле: 14.

			.knopka
				a#isidor-standart3(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-studio2-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-studio2-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					p 2-местный Студия++
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ, барная стойка;
						li двуспальная кровать 1,4*1,8;
						li 2 доп. места -диван-кровать;
						li основных мест: 2;
						li дополнительных мест: 2;
						li номеров в отеле: 1.

			.knopka
				a#isidor-studio2-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-4place-rooms2-lux.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-4place-rooms2-lux.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия++
					p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 2 односпальные кровати 0,9*1,8;
						li основных мест: 4;
						li дополнительных мест: 0;
						li номеров в отеле: 1.

			.knopka
				a#isidor-4place-rooms2-lux(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-4place-rooms2-lux-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-4place-rooms2-lux-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия++
					//p 4-местный 2-комнатный Люкс
					p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 2 односпальные кровати 0,9*1,8;
						li доп. место - диван;
						li основных мест: 4;
						li дополнительных мест: 2;
						li номеров в отеле: 1.

			.knopka
				a#isidor-4place-rooms2-lux-plus(href="javascript:void(0);").bron Забронировать 

	script(src="static/js/widget_isidor_internal.js")