extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Исидор"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Акции
		.promo-single-wrap
			.view.view-first
				img(src="../static/img/general/promo-1.jpg")
				.mask
					h2 "Раннее бронирование"
					p  При бронировании и 100% оплате до 31 марта 2017 года предоставляется скидка в размере 5%. 
					p Действие акции до 31.03.2017 года.
			.promo-text-block
				.promo-text-block-left
					//span.simbol &#9899
					span.simbol &#8226
					span Раннее бронирование
					</br>
					span.simbol &#8226
					span Отель "Исидор", Анапа
				.promo-text-block-right
					span.simbol &#8226
					span 01.02.2017-31.03.2017
					</br>
					span.simbol &#8226
					span Скидка
					span.colored 5%
			.select-prom
				.b-wrap
					a#isidor-early-bron(href="javascript:void(0);").bron Получить скидку

		.promo-single-wrap
			.view.view-first
				img(src="../static/img/general/promo-2.jpg")
				.mask
					h2 "Продли удовольствие"
					p  При бронировании от 10 ночей и 100% оплате до 31.03.2017 года предоставляется скидка в размере 10%. Скидка суммируются с другими скидками, действующими на момент бронирования.
			.promo-text-block
				.promo-text-block-left
					span.simbol &#8226
					span Продли удовольствие
					</br>
					span.simbol &#8226
					span Отель "Исидор", Анапа
				.promo-text-block-right
					span.simbol &#8226
					span 01.02.2017-31.03.2017
					</br>
					span.simbol &#8226
					span Скидка
					span.colored 10%
			.select-prom
				.b-wrap
					a#isidor-prolong-pleasure(href="javascript:void(0);").bron Получить скидку

	script(src="static/js/widget_isidor.js")