extends ../layout/layout
include ../common/mixins
block title
	| Отель "Исидор"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);','javascript:void(0);') 

block content
	// динамическая подгрузка контента 
	div#loadcontent
	// далее компоненты которые не работают в динамической подгрузкой
	 
	.base-wrap
		// yandex map
		.map-wrap
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sBKjkI7GqViju1QXTrcpJpEbAY9CMXOB&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
	 		

		div.form-back-window
			// форма обратной связи
			h2.text Оставить отзыв 
			div.form-wrap
				form(method="POST" action="javascript:void(0);" onsubmit="ajax()")#form
					p Ваше имя
					div.input
						input(type = "text" name="name" value="" placeholder ="Ваше имя" required pattern = "Ваше имя").name
					p Ваш email
					div.input
						input(type = "text" name="email" value="" placeholder ="Ваш email").email
					p Тема
					div.input 
						input(type = "text" name="subject" value="" placeholder ="Тема").subject
					p Сообщение
					div.input
						textarea(name="message" value="" ).message
					p
						input(type="submit" name="send" value="send").send
				div#results вывод

