extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле"Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Отель "Исидор” 3*
			p Отель “Исидор” расположен в курортном поселке Витязево в непосредственной близости от центра развлечений Паралия. Парк с аттракционами, боулинг клуб, рестораны, сувенирные лавки, банкоматы, ночные клубы, дискотеки находятся совсем рядом, но не мешают отдыху в вечернее время. Удобное, центральное расположение в курортной зоне и небольшое расстояние до моря (5-10 минут ходьбы) делают отель особо привлекательным. Отель прекрасно подходит для пляжного семейного отдыха. 
			span.t-bold Адрес отеля: 
			span 353440, Анапа, пос. Витязево, проспект Южный, д.25
			</br> 
			span.t-bold Расстояние 
			span до центра Анапы 12 км, до аэропорта 8 км, до пляжа 500 м, до моря 800 м.
			</br>
			span.t-bold Пляж: 
			span муниципальный (общественный) песчаный, услуги проката.
			</br>
			span.t-bold Год строительства: 
			span 2008
			</br>
			span.t-bold Территория: 
			span 0,08 га охраняемая, ухоженная.
			</br>
			span.t-bold Номера:
			</br>
			ul
				li Стандарт: мебель, холодильник, сплит-система, ТВ, санузел/душ.
				li Студия: мебель, холодильник, сплит-система, ТВ, санузел/душ, барная стойка, софа.
				li Люкс: две комнаты, мебель, холодильник, сплит-система, ТВ, санузел/душ, диван.
			p В каждом номере - спутниковое телевидение, холодильник, индивидуальный кондиционер, туалет, душ. Покрытие пола – ламинат, обслуживание в номере. Общее количество номеров: 70. Уборка номеров - ежедневно, смена постельного белья - раз в неделю, смена полотенец - раз в 3 дня.
			span.t-bold Питание: 
			span трехразовое по системе «шведский стол» (все включено, в том числе безалкогольные и алкогольные напитки местного производства) с 20 мая по 30 сентября. В низкий сезон, с 29 апреля по 19 мая и с 1 октября по 15 октября, – комплексное меню с элементами «шведского стола».
			</br>
			span.t-bold В стоимость включено: 
			span проживание, питание, пользование бассейном, Wi-Fi на ресепшн, автостоянка. При размещении в отеле, не гарантируется: расположение номеров рядом, этаж, вид, спальное место (раздельные или двуспальные кровати), если данная информация, не указана в названии категории номера. 
			</br>
			span.t-bold Дети: 
			span принимаются с любого возраста.
			ul
				li Дети до 3 лет размещаются бесплатно без предоставления места, с питанием. Стоимость детской кроватки - 300 рублей/сутки.
				li Дети от 3 до 10 лет - бесплатно на дополнительном месте с питанием.
			span.t-bold Детям: 
			span детский бассейн, детская площадка, высокие стульчики в ресторане, детская кроватка в номере, развлекательные программы (анимация).
			</br>
			span.t-bold Документы при заселении: 
			span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			</br>
			span.t-bold Расчетный час: 
			span заезд с 14:00, выезд до 12:00.
			</br>
			span.t-bold  Инфраструктура: 
			span бассейн 4х7 метра с подогревом и пресной водой, парковка, сейф на ресепшн, парковка, мини-маркет, Wi-Fi, услуги прачечной, детская площадка, вечерняя анимационная программа.
			</br>
			span.t-bold  Спорт: 
			span настольный теннис, пляжный волейбол, бадминтон, бильярд.
			</br>
			span.t-bold Услуги: 
			ul
				li парковка неохраняемая – 200 руб./сутки,
				li продление номера (по возможности) – 200 руб./час,
				li прокат пляжных принадлежностей.,
			span.t-bold Курение: 
			span разрешается только в строго отведенных местах.
			</br>
			span.t-bold Животные: 
			span привозить животных не разрешается.
			</br>
			span.t-bold Контакты: 
			ul
				li  Отдел бронирования (Анапа): +7 918 483 21 51  
					span.t-bold E-mail: 
					a(href="mailto:isidor08@mail.ru") isidor08@mail.ru 
				li Служба размещения: +7 918 483 21 51



