extends ../layout/layout
include ../common/mixins
block title
	| Страница  "Контакты" Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		.contacts-wrap
			.contacts-tel
				span Тел.: 
				p +7 (...) ... .. ..
			.contacts-email
				span E-mail: 
				p  ...@....ru
			.contacts-address
				span Наш адрес: 
				p Россия, Краснодарский край, 353440, Анапа, пос. Витязево проспект Южный, д.25  
			.contacts-transfer
				span Трансфер: 
				P ...
			.contacts-how-to-get
				span Проезд: 
				P ..

