extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Цены" Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Исидор. Цены.
			p.text-zag Номера:

			ul
				li 
					span.t-bolt 2-местный Стандарт dbl: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8;
				li
					span.t-bolt 2-местный Стандарт dbl+: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 и 1 доп. место - кресло-кровать;
				li
					span.t-bolt 2-местный Стандарт dbl++: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 и 2 доп. места - диван-кровать;
				li
					span.t-bolt 2-местный Стандарт twin: 
					span сплит-система, ТВ, холодильник, санузел, душ, две односпальные кровати 0,9*1,8;
				li
					span.t-bolt 2-местный Стандарт twin++: 
					span сплит-система, ТВ, холодильник, санузел, душ, две односпальные кровати 0,9*1,8 и 2 доп. места - диван-кровать;
				li
					span.t-bolt 2-местный Студия: 
					span сплит-система, ТВ, холодильник, санузел, душ, барная стойка, двуспальная кровать 1,4*1,8 и 2 доп. места - диван-кровать;
				li
					span.t-bolt 3-местный Стандарт: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 и односпальная кровать 0,9*1,8;
				li
					span.t-bolt 4-местный 2-комнатный Люкс: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, две односпальные кровати 0,9*1,8;
				li
					span.t-bolt 4-местный 2-комнатный Люкс++: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, две односпальные кровати 0,9*1,8 и 2 доп. места – диван.


			p.text-zag Стоимость проживания на основном месте, руб. /сутки, (без питания)
			table.tprice
				tr
					td.zag-table Период
					td.zag-table Стандарт
					td.zag-table Студио, Люкс
				tr
					td 29.04 – 31.05
					td 650
					td 700
				tr
					td 01.06 – 05.06
					td 780
					td 800
				tr
					td 06.06 – 15.06
					td 1050
					td 1050
				tr
					td 16.06 – 25.06
					td 1300
					td 1500
				tr
					td 26.06 – 25.08
					td 1560
					td 1900
				tr
					td 26.08 – 15.09
					td 1050
					td 1150
				tr
					td 16.09 – 10.10
					td 650
					td 700

			span.text-zag В стоимость включено: 
			span проживание, пользование бассейном, Wi-Fi на стойке регистрации, анимация.

			span.text-zag Дети: 
			span принимаются с любого возраста:
			</br>
			ul
				li до 3 лет бесплатно, без предоставления места, с питанием. Стоимость детской кроватки - 300 рублей/сутки (доп. услуга);
				li от 3 до 6 лет бесплатно на дополнительном месте. 


			span.text-zag Стоимость питания:
			p с 20.05 по 30.09 – 3-разовое  питание «шведский стол»
			ul
				li дети до 3 лет – бесплатно;
				li дети от 3 до 13 лет - 450 руб. в день;
				li взрослые 750 руб. в день.
			p с 29.04. по 19.05 и с 01.10 по 10.10  – 3-разовое комплексное питание с элементами «шведского стола».
			li дети до 3-х лет – бесплатно;
			li дети от 3-х до 13 лет - 300 руб. в день;
			li взрослые – 600 руб. в день.
			p.text-zag Услуги:
			ul 
				li парковка неохраняемая – 200 руб./сутки;
				li продление номера (по возможности) – 200 руб./час;
				li прокат пляжных принадлежностей.



