extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Исидор"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')


block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/promoution.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Отель «Исидор» 3*
			p Отель «Исидор» расположен в курортном поселке Витязево в непосредственной близости от центра развлечений Паралия. Парк с аттракционами, боулинг клуб, рестораны, сувенирные лавки, банкоматы, ночные клубы, дискотеки находятся совсем рядом, но не мешают отдыху в вечернее время. Удобное, центральное расположение в курортной зоне и небольшое расстояние до моря (10 минут ходьбы) делают отель особо привлекательным. Отель прекрасно подходит для пляжного семейного отдыха. 
			p
				b Адрес отеля: 
				span 353440, Анапа, пос. Витязево, проспект Южный, д.25.
			p
				b Расстояние 
				span до центра Анапы 12 км, до аэропорта 8 км, до пляжа 700 м, до моря 900 м.
			p
				b Пляж: 
				span муниципальный (общественный) песчаный, услуги проката.
			p
				b Год строительства: 
				span 2008
			p
				b Территория: 
				span 0,08 га охраняемая, ухоженная.
			p
				span.t-bold Номера:
				ul
					li Стандарт: мебель, холодильник, сплит-система, ТВ, санузел c душем;
					li Студия: мебель, холодильник, сплит-система, ТВ, санузел с душем, барная стойка, софа;
					li Люкс: две комнаты, мебель, холодильник, сплит-система, ТВ, санузел с душем, диван.
			p В каждом номере - телевидение (цифровое общественное вещание), холодильник, индивидуальный кондиционер, санузел с душем. Покрытие пола – ламинат. Общее количество номеров: 70. Уборка номеров - ежедневно, смена постельного белья - раз в неделю, смена полотенец - раз в 3 дня.
			p
				b Питание: 
				span 3-разовое по системе «все включено» («шведский стол», безалкогольные и алкогольные напитки местного производства) с 20 мая по 30 сентября. В низкий сезон, с 29 апреля по 19 мая и с 1 октября по 10 октября, – комплексное меню с элементами «шведского стола».
			p
				b В стоимость включено: 
				span проживание, пользование бассейном, Wi-Fi на стойке регистрации, анимация.
			p При размещении в отеле не гарантируется этаж, вид из окна, расположение номеров рядом, спальное место (двуспальная кровать или раздельные кровати), если данной информации нет в описании номера.
			p 
				b Дети: 
				span принимаются с любого возраста; до 6 лет бесплатно, без предоставления места.
			p Детям:  детское отделение в бассейне, детская площадка, высокие стульчики в столовой, детская кроватка в номере, развлекательные программы (анимация).
			p
				b Документы при заселении: 
				span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			p
				b Расчетный час: 
				span заезд с 14:00, выезд до 12:00.
			p
				b  Инфраструктура: 
				span бассейн 4х7 метра с подогревом и пресной водой, парковка, сейф на стойке регистрации, мини-маркет, Wi-Fi на ресепшн, услуги прачечной, детская площадка, детская и взрослая анимационная программа.
			p
				span.t-bold  Спорт: 
				span настольный теннис, пляжный волейбол.
			p
				span.t-bold Услуги: 
				ul
					li парковка неохраняемая – 200 руб./сутки;
					li аренда детской кроватки - 300 руб./сутки (доп. услуга);
					li продление номера (по возможности) – 200 руб./час;
					li прокат пляжных принадлежностей.
			p
				b Курение: 
				span разрешается только в строго отведенных местах.
			p
				b Животные: 
				span привозить животных не разрешается.
			p
				b Контакты: 
				ul
					li  Отдел бронирования (Анапа): +7 918 483 21 51   
						a(href="mailto:isidor08@mail.ru") isidor08@mail.ru 
					li Служба размещения: +7 918 483 21 51.

	script(src="static/js/widget_isidor.js")



