extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Исидор" - Отзывы


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/promoution.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		.resp-wrap
			h2.text-name-page Отзывы
			div.resp-window
				div.resp
					p.name Ольга Андреева
					p.date 2016-29-07
					//p.theme Тема
					p.text Два года подряд попадали в один и тот же номер,сходный с номером нашего региона!Приезжаем как домой!! Есть недостатки, но они минимальны по сравнению с достоинствами!!



				div.resp
					p.name Ольга Железнякова
					p.date 2016-16-07
					//p.theme Тема
					p.text Отдыхала с 15 летними подростками с 1 по 13 июля 2016 года! Сам отель, территория, номера все очень понравилось. Столовая вполне доступная и кормят вкусно! Домашняя хорошая еда, без излишеств, не дорого. Кто хочет поесть более разнообразно, рядом есть много кафе. Но огорчило отсутствие бильярда и настольного тенниса, а мы рассчитывали вечером поиграть! Рядом магазин, где на удивление принимают банковские карты! .В целом рекомендую это место.



				div.resp
					p.name Елена
					p.date 2016-11-07
					//p.theme Тема
					p.text Отдыхали с мужем, и четырехлетним сынишкой в "Исидоре" с 20.06.2016 по 30.06.2016 г. Если вкратце сказать, то все просто СУПЕР! Остались очень довольны и номером (мы жили на 3-м этаже в трехместном с балконом), и питанием (о нем отдельно!!!), и отношением персонала, и расположением отеля (центр Витязево, напротив парка аттракционов, до моря 12-15 минут с ребенком не спеша)! В общем по порядку: номер чистенький, постельное белье белоснежное, все в рабочем состоянии.


			div.form-back-window
				// форма обратной связи
				h2.text Оставить отзыв 
				div.form-wrap
					form(method="POST" action="javascript:void(0);" onsubmit="ajax()")#form
						div.input
							input(type = "text" name="name" value="" placeholder ="Ваше имя" required ).name
						div.input
							input(type = "text" name="email" value=""  required placeholder ="Ваш e-mail").email

						div.input
							textarea(name="message" value="" required placeholder ="Напишите отзыв").message

						input.sbutton(type="submit" name="send" value="Отправить" ).send
						
	script(src="static/js/widget_isidor.js")