extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Исидор"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/promoution.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Фотогалерея
		div.gallery-wrap
			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/5.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/5.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/6.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/6.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/9.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/9.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/10.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/10.jpg")
			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/13.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/13.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/20.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/20.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/27.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/27.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/28.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/28.jpg")
			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/29.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/29.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/30.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/30.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/31.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/31.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/32.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/32.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/33.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/33.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/34.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/34.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/35.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/35.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/36.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/36.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/37.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/37.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/38.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/38.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/39.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/39.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/40.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/40.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/41.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/41.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/42.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/42.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/44.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/44.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/45.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/45.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/46.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/46.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/47.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/47.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/49.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/49.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/50.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/50.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/51.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/51.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/52.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/52.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/53.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/53.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/54.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/54.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/55.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/55.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/56.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/56.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/57.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/57.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/58.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/58.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/60.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/60.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/61.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/61.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/62.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/62.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/63.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/63.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/isidor/photo_sm/64.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/64.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/66.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/66.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/69.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/69.jpg")
				div.isingle
					a(href="../static/img/isidor/photo_sm/70.jpg" data-fancybox-group="gallery_isidor" alt=""  title="").fancybox
						img(src="../static/img/isidor/photo_sm/70.jpg")

	script(src="static/js/widget_isidor.js")









