extends ../layout/layout
include ../common/mixins
block title
	| Страница  "Номера"Отеля Исидор


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.banner
			.inner
				+hname('Отель','Исидор','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('isidor','/isidor_about.html','/isidor_rooms.html','/isidor_price.html','/isidor_promotion.html','/isidor_gallery.html','/isidor_response.html','/isidor_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li Количество номеров: 4
						li Кол-во доп. мест: 1
						li Спальным местом основным является кровать размером 0,9*1,8м, дополнительным кресло-кровать.
						li Холодильник, сплит - система, ТВ, санузел/душевая, Wi-fi, спальная мебель, балкон.
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li Количество номеров: 4
						li Кол-во доп. мест: 1
						li Спальным местом основным является кровать размером 0,9*1,8м, дополнительным кресло-кровать.
						li Холодильник, сплит - система, ТВ, санузел/душевая, Wi-fi, спальная мебель, балкон.
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 