extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Посейдон" - Акции


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-poseydon
		.bron-for-hotel-pages
			#search-widget-poseydon
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 
 

block content
	.base-wrap
		h2.text-name-page Акции


	script(src="static/js/widget_poseydon.js")