extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Номера"Отеля Посейдон


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-poseydon
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 
 

block content
	.base-wrap
		h2.text-name-page Посейдон. Номера.
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-10.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-10.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двуспальной кроватью

				div.text-item
					ul
						li площадь номера: 8,4 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная  кровать;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 8.


			.knopka
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-15.jpg")
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-15.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двуспальной кроватью с доп. местом

				div.text-item
					ul
						li площадь номера: 14  кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная  кровать, 1 доп. место – кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 3.
						
			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-7.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/4-7.jpg")
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-7.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/4-7.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двумя односпальными кроватями

				div.text-item
					ul
						li площадь номера: 11 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li две односпальные кровати;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 25.

			.knopka
				a#isidor-standart2-dbl-plus-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
				div#carousel-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двумя односпальными кроватями с доп. местом

				div.text-item
					ul
						li площадь номера: 14 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li две односпальные кровати (стоят вместе), 1 доп. место – кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 4.

			.knopka
				a#isidor-standart2-dbl-twin(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-11.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/7.jpg")
				div#carousel-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-11.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/7.jpg")
			div.desc-text
				div.header-text
					p 3-местный 

				div.text-item
					ul
						li площадь номера: 10 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная и односпальная кровати;
						li основных мест: 3;
						li дополнительных мест: 0;
						li номеров в отеле: 3.

			.knopka
				a#isidor-standart2-dbl-twin-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart3/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-15.jpg")
				div#carousel-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart3/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-15.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					p 3-местный Стандарт
					//p 2-местный Студия
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li односпальная кровать 0,9*1,8;
						li основных мест: 3;
						li дополнительных мест: 0
						li номеров в отеле: 14.

			.knopka
				a#isidor-standart3(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-studio2-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-1.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-2.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-3.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-4.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-5.jpg")
				div#carousel-isidor-studio2-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-1.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-2.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-3.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-4.jpg")
						li
							img(src="../static/img/isidor/studio_2plus_plus/big/8-5.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					p 2-местный Студия++
					//p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ, барная стойка;
						li двуспальная кровать 1,4*1,8;
						li 2 доп. места -диван-кровать;
						li основных мест: 2;
						li дополнительных мест: 2;
						li номеров в отеле: 1.

			.knopka
				a#isidor-studio2-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-4place-rooms2-lux.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/4place_room2/big/1.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/2.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-1.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-2.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-3.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-8.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-9.jpg")
				div#carousel-isidor-4place-rooms2-lux.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/4place_room2/big/1.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/2.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-1.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-2.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-3.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-8.jpg")
						li
							img(src="../static/img/isidor/4place_room2/big/5-9.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия++
					p 4-местный 2-комнатный Люкс
					//p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 2 односпальные кровати 0,9*1,8;
						li основных мест: 4;
						li дополнительных мест: 0;
						li номеров в отеле: 1.

			.knopka
				a#isidor-4place-rooms2-lux(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-4place-rooms2-lux-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-2.jpg")
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-3.jpg")
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-4.jpg")
				div#carousel-isidor-4place-rooms2-lux-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-2.jpg")
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-3.jpg")
						li
							img(src="../static/img/isidor//4place_room2_lux/big/7-4.jpg")
			div.desc-text
				div.header-text
					//p 2-местный Стандарт dbl
					//p 2-местный Стандарт dbl+
					//p 2-местный Стандарт dbl++
					//p 2-местный Стандарт twin
					//p 2-местный Стандарт twin++
					//p 3-местный Стандарт
					//p 2-местный Студия++
					//p 4-местный 2-комнатный Люкс
					p 4-местный 2-комнатный Люкс++ 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8;
						li 2 односпальные кровати 0,9*1,8;
						li доп. место - диван;
						li основных мест: 4;
						li дополнительных мест: 2;
						li номеров в отеле: 1.

			.knopka
				a#isidor-4place-rooms2-lux-plus(href="javascript:void(0);").bron Забронировать 

	script(src="static/js/widget_poseydon.js")