extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Цены" Отеля Посейдон


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/poseydon_promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Посейдон Палас. Цены.
			p.text-zag Номера:

			ul
				li 
					b.t-bolt 2-местный  dbl: 
					span ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана, двуспальная кровать, S=8,4 кв.м.;
				li 
					b 2-местный DBL+:
					span ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана, двуспальная  кровать, 1 доп. место – кресло-кровать, S=14 кв.м.;

				li 
					b 2-местный TWIN:
					span ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана, две односпальные кровати, S=11 кв.м.;

				li 
					b 2-местный TWIN+:
					span ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана, две односпальные кровати (стоят вместе), 1 доп. место – кресло-кровать, S=14 кв.м.;

				li 
					b 3-местный TRPL:
					span ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана, двуспальная и односпальная кровати, S=10,1 кв.м.

			</br>
			p.text-zag Стоимость проживания на основном и доп. месте, руб./сутки (без питания)
			.table-wrap
				table.tprice
					tr
						td 
						td 20.05-31.05
						td 01.06-25.06
						td 26.06-25.08
						td 26.08 - 15.09
						td 16.09 -30.09

					tr
						td основное место
						td 800
						td 1000
						td 1300
						td 1000
						td 800
					tr
						td дополнительное место
						td 240
						td 360
						td 420
						td 360
						td 240

			p
				b В стоимость включено: 
				span проживание, пользование бассейном, детскими площадками, Wi-Fi на стойке администратора, досуговые мероприятия..
			p
				b Дети 
				span принимаются с любого возраста:

			ul
				li до 3-х лет  без предоставления спального места – бесплатно (не более 2 детей в номере);
				li стоимость детской кроватки - 300 рублей/сутки.

			p
				b Питаниe:
				span 3-разовое комплексное.
			p
				b Стоимость питания:
			ul
				li взрослые – 500 руб./сутки;
				li дети от 3-х  до 12 лет -  300 руб./сутки;
				li дети до 3-х лет  -  бесплатно.

			p
				b  Услуги:
			ul 
				li предоставление детской кроватки 300 руб./сутки;
				li доступ в интернет (Wi-Fi);
				li сейфовые ячейки;
				li гладильная.
			</br>
			</br>
	script(src="static/js/widget_isidor_internal.js")


