extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Посейдон" - Фотогалерея


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-poseydon
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 


block content
	.base-wrap
		h2.text-name-page Фотогалерея
		div.gallery-wrap
			div.ifour
				div.isingle
					a(href="../static/img/poseydon/photo_sm/1.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/1.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/2.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/2.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/3.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/3.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/4.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/4.jpg")


			div.ifour
				div.isingle
					a(href="../static/img/poseydon/photo_sm/5.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/5.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/6.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/6.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/7.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/7.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/8.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/8.jpg")


			div.ifour
				div.isingle
					a(href="../static/img/poseydon/photo_sm/9.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/9.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/10.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/10.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/11.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/11.jpg")
				div.isingle
					a(href="../static/img/poseydon/photo_sm/12.jpg" data-fancybox-group="gallery_poseydon" alt=""  title="").fancybox
						img(src="../static/img/poseydon/photo_sm/12.jpg")


	script(src="static/js/widget_poseydon.js")









