extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле" Отеля Посейдон


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/poseydon_promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Гостевой дом «Посейдон Палас».
			p Гостевой дом «Посейдон Палас» расположен на тихой улице в 10 минутах пешком от песчаного пляжа. Здание новое, на 43 номера, просторный закрытый двор, много цветов и зелени, площадка для игр, бассейн. Рядом магазины, аптека, рынок, экскурсионные бюро. До Пионерского проспекта 10 мин, до Парка аттракционов и Аквапарка 15 мин, Анапский дельфинарий – 10 мин на маршрутке. На территории расположены бассейн, шезлонги для отдыха, площадка для игр, бар с барбекю.
			p
				b Адрес отеля: 
				span 353456  Анапа, пос. Витязево, ул. Понтийская, 19.
			p
				b Расстояние 
				span до центра Анапы 12 км, до аэропорта 8 км, до пляжа – 950 метров.
			p
				b Пляж: 
				span муниципальный (общественный) песчаный, услуги проката.
			p
				b Год строительства: 
				span 2012
			p
				b Территория: 
				span 870 кв.м., озелененная, охраняемая.
			p
				span.t-bold Номера:
				ul
					li 2-местный с двуспальной кроватью, 8,4 кв.м.;
					li 2-местный с двуспальной кроватью, с доп. местом (кресло-кровать), 14 кв.м.;
					li 2-местный с двумя односпальными кроватями, 11 кв.м.;
					li 2-местный с двумя односпальными кроватями, с доп. местом (кресло-кровать), 14 кв.м.;
					li 3-местный, 10,1 кв.м.

			p каждом номере: спальня, ванная комната, ТВ, холодильник, шкаф, тумбочки, светильник, графин, 2 стакана, туалет, душ, раковина.
			p
				b Питание: 
				span 3-разовое комплексное, оплачивается отдельно от стоимости проживания:
				ul
					li взрослые – 500 руб./сутки;
					li дети от 3-х  до 12 лет -  300 руб./сутки;
					li дети до 3-х лет  -  питание бесплатно.

			p Собственная столовая расположена в цокольном этаже пансионата.


			p
				b В стоимость включено: 
				span проживание, досуговые мероприятия, пользование бассейном, детскими площадками, Wi-Fi на стойке администратора.
			
			p
				b Дети 
				span принимаются с любого возраста:
				ul
					li до 3-х лет  без предоставления спального места – бесплатно (не более 2 детей в номере);
					li стоимость детской кроватки - 300 рублей/сутки.
			

			p
				b Документы при заселении: 
				span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			p
				b Расчетный час: 
				span заезд с 14:00, выезд до 12:00.
			p
				b  Инфраструктура: 
				span благоустроенный двор, бар с барбекю, бассейн без подогрева (вода пресная), открытая детская площадка с качелями.
			p
				span.t-bold  Спорт: 
				span настольный теннис, пляжный волейбол.
			p
				span.t-bold Услуги: 
				ul
					li предоставление детской кроватки 300 руб./сутки;
					li доступ в интернет (Wi-Fi);
					li сейфовые ячейки;
					li гладильная
			p
				b Курение: 
				span разрешается только в строго отведенных местах.
			p
				b Животные: 
				span привозить животных не разрешается.
			p
				b Контакты: 
				ul
					li  Отдел бронирования (Анапа):   
						a(href="mailto: poseydon_14@mail.ru")  poseydon_14@mail.ru 
					li Служба размещения: +7 918 483 21 51.

	script(src="static/js/widget_isidor_internal.js")



