extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Посейдон" - Номера


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-poseydon
		.bron-for-hotel-pages
			#search-widget-poseydon
		.banner
			.inner
				+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 
 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							a(href="../static/img/poseydon/rooms/2-1.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-1.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-2.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-2.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-3.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-3.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-4.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-4.jpg" )
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/poseydon/rooms/2-1.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-2.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-3.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-4.jpg")

			div.desc-text
				div.header-text
					p 2-местный с двуспальной кроватью

				div.text-item
					ul
						li площадь номера: 8,4 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная  кровать;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 8.


			.knopka
				a#poseydon-2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							a(href="../static/img/poseydon/rooms/2dop-1.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-1.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-2.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-2.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-3.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-3.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-4.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-4.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-5.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-5.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-6.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-6.jpg" )
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/poseydon/rooms/2dop-1.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-2.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-3.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-4.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-5.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-6.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двуспальной кроватью с доп. местом

				div.text-item
					ul
						li площадь номера: 14  кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная  кровать, 1 доп. место – кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 3.
						
			.knopka
				a#poseydon-2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							a(href="../static/img/poseydon/rooms/2-1.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-1.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-2.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-2.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-3.jpg" data-fancybox-group = "pos1").fancybox
								img(src="../static/img/poseydon/rooms/2-3.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2-4.jpg" data-fancybox-group = "pos1").fancybox
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/poseydon/rooms/2-1.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-2.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-3.jpg")
						li
							img(src="../static/img/poseydon/rooms/2-4.jpg")

			div.desc-text
				div.header-text
					p 2-местный с двумя односпальными кроватями

				div.text-item
					ul
						li площадь номера: 11 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li две односпальные кровати;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 25.

			.knopka
				a#poseydon-2-twin(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							a(href="../static/img/poseydon/rooms/2dop-1.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-1.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-2.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-2.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-3.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-3.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-4.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-4.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-5.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-5.jpg" )
						li
							a(href="../static/img/poseydon/rooms/2dop-6.jpg" data-fancybox-group = "pos2").fancybox
								img(src="../static/img/poseydon/rooms/2dop-6.jpg" )
				div#carousel-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/poseydon/rooms/2dop-1.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-2.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-3.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-4.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-5.jpg")
						li
							img(src="../static/img/poseydon/rooms/2dop-6.jpg")
			div.desc-text
				div.header-text
					p 2-местный с двумя односпальными кроватями с доп. местом

				div.text-item
					ul
						li площадь номера: 14 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li две односпальные кровати (стоят вместе), 1 доп. место – кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 4.
			.knopka
				a#poseydon-2-twin-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							a(href="../static/img/poseydon/rooms/3-1.jpg" data-fancybox-group = "pos4").fancybox
								img(src="../static/img/poseydon/rooms/3-1.jpg" )
						li
							a(href="../static/img/poseydon/rooms/3-2.jpg" data-fancybox-group = "pos4").fancybox
								img(src="../static/img/poseydon/rooms/3-2.jpg" )
						li
							a(href="../static/img/poseydon/rooms/3-3.jpg" data-fancybox-group = "pos4").fancybox
								img(src="../static/img/poseydon/rooms/3-3.jpg" )
						li
							a(href="../static/img/poseydon/rooms/3-4.jpg" data-fancybox-group = "pos4").fancybox
								img(src="../static/img/poseydon/rooms/3-4.jpg" )
				div#carousel-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/poseydon/rooms/3-1.jpg")
						li
							img(src="../static/img/poseydon/rooms/3-2.jpg")
						li
							img(src="../static/img/poseydon/rooms/3-3.jpg")
						li
							img(src="../static/img/poseydon/rooms/3-4.jpg")
			div.desc-text
				div.header-text
					p 3-местный 

				div.text-item
					ul
						li площадь номера: 10 кв.м.;
						li ТВ, холодильник, туалет, душ, шкаф, тумбочки, светильник, графин, 2 стакана;
						li двуспальная и односпальная кровати;
						li основных мест: 3;
						li дополнительных мест: 0;
						li номеров в отеле: 3.

			.knopka
				a#poseydon-3(href="javascript:void(0);").bron Забронировать 








	script(src="static/js/widget_poseydon.js")