extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле" Отеля Посейдон


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-primorski
		+hname('Отель','Посейдон','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('poseydon','/poseydon_about.html','/poseydon_rooms.html','/poseydon_price.html','/poseydon_promoution.html','/poseydon_gallery.html','/poseydon_response.html','/poseydon_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Посейдон Палас»
		.contacts-wrap
				p 353456, г-к Анапа, п. Витязево, ул. Понтийская, д.19
				p Отдел размещения и бронирования 
				p E-mail:   
					a(href="mailto:poseydon_14@mail.ru")  poseydon_14@mail.ru 
				p Как добраться: 
					a(href="/how_to_get_vitazevo.html") Как добраться до Витязево.

				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=G0mEmrh84cXuYE3qdHHFHzwV8gFMaAiV&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_primorski_internal.js")