extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле" Отеля Приморский


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-primorski
		+hname('Отель','Приморский','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('primorski','/primorski_about.html','/primorski_rooms.html','/primorski_price.html','/promoution.html','/primorski_gallery.html','/primorski_response.html','/primorski_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Отзывы
	script(src="static/js/widget_primorski.js")