extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле" Отеля Приморский


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-primorski
		+hname('Отель','Приморский','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('primorski','/primorski_about.html','/primorski_rooms.html','/primorski_price.html','/promoution.html','/primorski_gallery.html','/primorski_response.html','/primorski_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Приморский»
		.contacts-wrap
				p 353440, Анапа, Пионерский проспект, Джеметинский проезд, д. 20
				p Отдел размещения и бронирования +7 900 273 19 22
				p E-mail:   
					a(href="mailto:anapabron@mail.ru")  anapabron@mail.ru 
				p Как добраться:
				ul
					li от аэропорта Анапы маршрутное такси №113 до автовокзала, далее маршрутное такси №128, 114 до остановки «Рота ДПС».
					li от ж/д вокзала Анапы маршрутное такси №100 до автовокзала, далее маршрутное такси №128, 114 до остановки «Рота ДПС».

				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=H3tdAj5tFKIhAEaqojK75DQItXLj1j2U&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_primorski.js")