extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Об отеле" Отеля Приморский


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-primorski
		+hname('Отель','Приморский','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('primorski','/primorski_about.html','/primorski_rooms.html','/primorski_price.html','/primorski_promoution.html','/primorski_gallery.html','/primorski_response.html','/primorski_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		.contacts-wrap
			.contacts-tel
				span Тел.: 
				p +7 (...) ... .. ..
			.contacts-email
				span E-mail: 
				p  ...@....ru
			.contacts-address
				span Наш адрес: 
				p Россия,проспект Южный, д.25  
			.contacts-transfer
				span Трансфер: 
				P ...
			.contacts-how-to-get
				span Проезд: 
				P ..
				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=H3tdAj5tFKIhAEaqojK75DQItXLj1j2U&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_primorski_internal.js")