extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Приморский" - Фотогалерея


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-primorski
		+hname('Отель','Приморский','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('primorski','/primorski_about.html','/primorski_rooms.html','/primorski_price.html','/promoution.html','/primorski_gallery.html','/primorski_response.html','/primorski_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Фотогалерея
		div.gallery-wrap

			div.ifour
				div.isingle
					a(href="../static/img/primorski/photo_sm/11.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/11.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/12.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/12.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/13.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/13.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/14.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/14.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/primorski/photo_sm/15.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/15.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/16.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/16.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/17.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/17.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/18.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/18.jpg")



			div.ifour
				div.isingle
					a(href="../static/img/primorski/photo_sm/19.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/19.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/20.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/20.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/21.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/21.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/22.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/22.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/primorski/photo_sm/3-1.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/3-1.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/3-.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/3-2.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/3-3.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/3-3.jpg")
				div.isingle
					a(href="../static/img/primorski/photo_sm/3-4.jpg" data-fancybox-group="gallery_primorski" alt=""  title="").fancybox
						img(src="../static/img/primorski/photo_sm/3-4.jpg")


	script(src="static/js/widget_primorski.js")