extends ../layout/layout


include ../common/mixins


block title
	| Главная страница


block slider	


block photo_desk
block second_menu
	//include ../common/second_menu


block content
	.base-wrap
		-  var x = 'тест переменных';
		//p #{x}
		//+mtest('просто = ',6)
		section.promotion
			h2.text-name-page Все Акции
			.promo-single-wrap
				.view.view-first
					img(src="../static/img/general/promo-1.jpg")
					.mask
						h2 "Раннее бронирование"
						p  При бронировании и 100% оплате до 31 марта 2017 года предоставляется скидка в размере 5%. Действие акции до 31.03.2017 года.
				.promo-text-block
					.promo-text-block-left
						//span.simbol &#9899
						span.simbol &#8226
						span Раннее бронирование
						</br>
						span.simbol &#8226
						span Отель "Исидор", Анапа
					.promo-text-block-right
						span.simbol &#8226
						span 01.02.2017-31.03.2017
						</br>
						span.simbol &#8226
						span Скидка
						span.colored 5%
				.select-prom
					.b-wrap
						a#isidor-early-bron(href="javascript:void(0);").bron Получить скидку

			.promo-single-wrap
				.view.view-first
					img(src="../static/img/general/promo-2.jpg")
					.mask
						h2 "Продли удовольствие"
						p  При бронировании от 10 ночей и 100% оплате до 31.03.2017 года предоставляется скидка в размере 10%. Скидка суммируются с другими скидками, действующими на момент бронирования.
				.promo-text-block
					.promo-text-block-left
						span.simbol &#8226
						span Продли удовольствие
						</br>
						span.simbol &#8226
						span Отель "Исидор", Анапа
					.promo-text-block-right
						span.simbol &#8226
						span 01.02.2017-31.03.2017
						</br>
						span.simbol &#8226
						span Скидка
						span.colored 10%
				.select-prom
					.b-wrap
						a#isidor-prolong-pleasure(href="javascript:void(0);").bron Получить скидку