extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Родничок" - Акции


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-rodnik
		.bron-for-hotel-pages
			#search-widget-rodnik
		.banner
			.inner
				+hname('Отель','Родничок','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('rodnik','/rodnik_about.html','/rodnik_rooms.html','/rodnik_price.html','/promotion.html','/rodnik_gallery.html','/rodnik_response.html','/rodnik_contacts.html') 
block content
	.base-wrap
		h2.text-name-page Акции

	script(src="static/js/widget_rodnik.js")
