extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Цены" Отеля Родничок


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Родничок','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('rodnik','/rodnik_about.html','/rodnik_rooms.html','/rodnik_price.html','/rodnik_promotion.html','/rodnik_gallery.html','/rodnik_response.html','/rodnik_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Родник. Цены.
			p.text-zag Номера:

			ul
				li 
					span.t-bolt 3-местный Стандарт: 
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 м, односпальная кровать 0,9*1,8 м, 1 доп. место – кресло/раскладушка 0,9*1,8 м;
				li
					span.t-bolt 4-местный Стандарт : 
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 м, 2 односпальные кровати 0,9*1,8 м, 1 доп. место - кресло/раскладушка 0,9*1,8 м;
				li
					span.t-bolt 5-местный 2-комнатный семейный: 
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ, 2 двуспальные кровати 1,4*1,8 м, односпальная кровать 0,9*1,8 м, 1 доп. место – кресло/раскладушка 0,9*1,8 м.

			</br>
			p.text-zag Стоимость номера, руб. /сутки
			.table-wrap
				table.tprice
					tr
						td.zag-table Период
						td.zag-table 3-местный Стандарт
						td.zag-table 4-местный Стандарт
						td.zag-table 5-местный 2-комнатный семейный
						td.zag-table Доп. место
					tr
						td 20.05 – 31.05
						td 1178
						td 1560
						td 1950
						td 260
					tr
						td 01.06 – 15.06
						td 2340
						td 2600
						td 3250
						td 260
					tr
						td 16.06 – 25.06
						td 2730
						td 3120
						td 3900
						td 330
					tr
						td 26.06 – 25.08
						td 3510
						td 4160
						td 5200
						td 330
					tr
						td 16.09 – 30.09
						td 1170
						td 1560
						td 1950
						td 260
			span.text-zag В стоимость включено: 
			span проживание, пользование бассейном, Wi-Fi на стойке регистрации, камера хранения багажа, предоставление кипятка, швейных принадлежностей, медицинской аптечки.
			</br>

			span.text-zag Питание: 
			span  3-х разовое по системе ВСЕ ВКЛЮЧЕНО, промежуточное питание (напитки, вина кубанских производителей, пиво, выпечка) по типу «Шведский стол».
			</br>
			p
				span.text-zag Стоимость питания
				span для взрослых:
				ul
					li 750 руб./сутки  в период 01.06 - 15.09;
					li 600 руб./сутки в период 01.05 - 31.05 и 16.09 - 05.10;
				p для детей:
				ul
					li от 6 лет до 13 лет - 450 руб./сутки
					li от 3 лет до 6 лет - 200 руб./сутки
					li от 0 лет до 3 лет бесплатно





			span.text-zag Дети: 
			span принимаются с любого возраста:
			</br>
			ul
				li до 3 лет бесплатно, без предоставления места, с питанием. Стоимость детской кроватки - 300 рублей/сутки (доп. услуга);
				li от 3 до 6 лет бесплатно на дополнительном месте. 


			p.text-zag Услуги:
			ul 
				li детская кроватка – 150 руб. в стуки,
				li детская коляска-трость – 100 руб. в сутки,
				li парковка охраняемая – 200 руб./сутки;
				li продление номера (по возможности) – 200 руб./час.
			</br>
			</br>
	script(src="static/js/widget_isidor_internal.js")


