extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Номера "  Отеля Родничок


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-chistakis
		.banner
			.inner
				+hname('Отель','Родничок','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('christakis','/christakis_about.html','/christakis_rooms.html','/christakis_price.html','/christakis_promoution.html','/christakis_gallery.html','/christakis_response.html','/christakis_contacts.html') 
block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					p 3-местный стандарт 
				div.text-item
					span.simbol-text-room &#8226
					span площадь номера 18 кв.м.;
					</br>
					span.simbol-text-room &#8226
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ;
					</br>
					span.simbol-text-room &#8226
					span двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, 1 доп. место – кресло/раскладушка 0,9*1,8 м;
					</br>
					span.simbol-text-room &#8226
					span основных мест: 3;
					</br>
					span.simbol-text-room &#8226
					span дополнительных мест: 1;
					</br>
					span.simbol-text-room &#8226
					span номеров в отеле: 20.
					</br>

			.knopka
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					p 4-местный стандарт
				div.text-item
					span.simbol-text-room &#8226
					span площадь номера 21 кв.м.
					</br>
					span.simbol-text-room &#8226
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ;
					</br>
					span.simbol-text-room &#8226
					span двуспальная кровать 1,4*1,8, 2 односпальные кровати 0,9*1,8, 1 доп. место – кресло/раскладушка 0,9*1,8 м;
					</br>
					span.simbol-text-room &#8226
					span основных мест: 4;
					</br>
					span.simbol-text-room &#8226
					span дополнительных мест: 1;
					</br>
					span.simbol-text-room &#8226
					span номеров в отеле: 9.
					</br>
			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
			div.desc-text
				div.header-text
					p 5-местный 2-комнатный семейный:
				div.text-item
					span.simbol-text-room &#8226
					span площадь номера 24 кв.м.
					</br>
					span.simbol-text-room &#8226
					span кондиционер/сплит-система, ТВ, холодильник, санузел, душ;
					</br>
					span.simbol-text-room &#8226
					span 2 двуспальные кровати 1,4*1,8, односпальная кровать 0,9*1,8, 1 доп. место – кресло/раскладушка 0,9*1,8 м;
					</br>
					span.simbol-text-room &#8226
					span основных мест: 5;
					</br>
					span.simbol-text-room &#8226
					span дополнительных мест: 1;
					</br>
					span.simbol-text-room &#8226
					span номеров в отеле: 4.
					</br>
			.knopka
				a#isidor-standart2-dbl-plus-plus(href="javascript:void(0);").bron Забронировать 



	script(src="static/js/widget_chistakis_internal.js")
