extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Родничок" - Фотогалерея


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-rodnik
		.bron-for-hotel-pages
			#search-widget-rodnik
		+hname('Отель','Родничок','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('rodnik','/rodnik_about.html','/rodnik_rooms.html','/rodnik_price.html','/promoution.html','/rodnik_gallery.html','/rodnik_response.html','/rodnik_contacts.html') 


block content
	.base-wrap
		h2.text-name-page Фотогалерея
		div.gallery-wrap

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/1.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/1.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/2.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/2.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/3.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/3.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/4.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/4.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/5.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/5.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/6.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/6.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/7.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/7.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/8.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/8.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/9.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/9.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/10.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/10.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/11.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/11.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/12.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/12.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/13.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/13.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/14.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/14.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/15.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/15.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/16.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/16.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/17.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/17.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/18.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/18.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/19.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/19.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/20.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/20.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/rodnik/photo_sm/21.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/21.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/22.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/22.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/23.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/23.jpg")
				div.isingle
					a(href="../static/img/rodnik/photo_sm/24.jpg" data-fancybox-group="gallery_rodnik" alt=""  title="").fancybox
						img(src="../static/img/rodnik/photo_sm/24.jpg")

	script(src="static/js/widget_rodnik.js")