extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Родничок"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-rodnik
		.banner
			.inner
				+hname('Отель','Родничок','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('rodnik','/rodnik_about.html','/rodnik_rooms.html','/rodnik_price.html','/promoution.html','/rodnik_gallery.html','/rodnik_response.html','/rodnik_contacts.html') 
 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Родничок»
		.contacts-wrap
				p г. Анапа, п. Джемете, Пионерский пр-т, Джеметинский проезд, д. 20
				p Отдел размещения и бронирования +7 900 273 19 22
				p E-mail:   
					a(href="mailto:gd_rodnicok@mail.ru")  gd_rodnicok@mail.ru 
				p Как добраться:
				ul
					li от аэропорта Анапы маршрутное такси №113 до автовокзала, далее маршрутное такси №128, 114 до остановки «Рота ДПС».
					li от ж/д вокзала Анапы маршрутное такси №100 до автовокзала, далее маршрутное такси №128, 114 до остановки «Рота ДПС».
				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=TeHfyq4uuqcccGF_yEuy4NkY_8j6jlWw&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>


	script(src="static/js/widget_rodnik.js")
