extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Византия"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-visantia
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','/promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')
 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p 2-х местный dbl
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8 и 1 доп. место - кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 6.

			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p 2-х местный twin
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li две односпальные кровати 0,9*1,8 и 1 доп. место - кресло-кровать;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 4.

			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p 3-х местный 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8, 
						li основных мест: 3;
						li дополнительных мест: 0;
						li номеров в отеле: 12.

			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p 3-х местный с доп. местом 
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li 3 односпальные кровати 0,9*1,8  и 1 доп. место - кресло-кровать; 
						li основных мест: 3;
						li дополнительных мест: 1;
						li номеров в отеле: 20.

			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/rooms/kitchen_adventurer_lemon.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_donut.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_caramel.jpg")
						li
							img(src="../static/img/rooms/kitchen_adventurer_cheesecake_brownie.jpg")
			div.desc-text
				div.header-text
					p 4-х местный  
				div.text-item
					ul
						li сплит-система, ТВ, холодильник, санузел, душ;
						li двуспальная кровать 1,4*1,8 и 2 доп. места - диван-кровать.
						li основных мест: 2;
						li дополнительных мест: 2;
						li номеров в отеле: 2.

			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 

	script(src="static/js/widget_visantia.js")

