extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Об отеле" Отеля Византия


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','visantia_promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')
 

block content
	.base-wrap
		h2.text-name-page Об отеле

	script(src="static/js/widget_visantia_internal.js")