extends ../layout/layout
include ../common/mixins
block title
	| Отель "Византия"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.htm','visantia_price.htm','visantia_promoution.htm','visantia_gallery.htm','visantia_response.htm','visantia_contacts.htm') 

block content
	// динамическая подгрузка контента 
	div#loadcontent
	// далее компоненты которые не работают в динамической подгрузкой
	 
