extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Византия"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-visantia
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','/promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')
 

block content
	.base-wrap
		h2.text-name-page Фотогалерея
		div.gallery-wrap
			div.ifour
				div.isingle
					a(href="../static/img/visantia/1.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/1.jpg")
				div.isingle
					a(href="../static/img/visantia/2.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/2.jpg")
				div.isingle
					a(href="../static/img/visantia/3.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/3.jpg")
				div.isingle
					a(href="../static/img/visantia/4.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/4.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/5.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/5.jpg")
				div.isingle
					a(href="../static/img/visantia/6.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/6.jpg")
				div.isingle
					a(href="../static/img/visantia/7.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/7.jpg")
				div.isingle
					a(href="../static/img/visantia/8.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/8.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/9.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/9.jpg")
				div.isingle
					a(href="../static/img/visantia/10.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/10.jpg")
				div.isingle
					a(href="../static/img/visantia/11.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/11.jpg")
				div.isingle
					a(href="../static/img/visantia/12.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/12.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/13.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/13.jpg")
				div.isingle
					a(href="../static/img/visantia/14.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/14.jpg")
				div.isingle
					a(href="../static/img/visantia/15.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/15.jpg")
				div.isingle
					a(href="../static/img/visantia/16.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/16.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/17.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/17.jpg")
				div.isingle
					a(href="../static/img/visantia/18.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/18.jpg")
				div.isingle
					a(href="../static/img/visantia/19.jpg" data-fancybox-group="gallery_visantiagallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/19.jpg")
				div.isingle
					a(href="../static/img/visantia/20.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/20.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/21.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/21.jpg")
				div.isingle
					a(href="../static/img/visantia/22.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/22.jpg")
				div.isingle
					a(href="../static/img/visantia/23.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/23.jpg")
				div.isingle
					a(href="../static/img/visantia/24.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/24.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/25.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/25.jpg")
				div.isingle
					a(href="../static/img/visantia/26.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/26.jpg")
				div.isingle
					a(href="../static/img/visantia/27.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/27.jpg")
				div.isingle
					a(href="../static/img/visantia/28.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/28.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/29.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/29.jpg")
				div.isingle
					a(href="../static/img/visantia/30.jpg" data-fancybox-group="gallery_visantiagallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/30.jpg")
				div.isingle
					a(href="../static/img/visantia/31.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/31.jpg")
				div.isingle
					a(href="../static/img/visantia/32.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/32.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/33.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/33.jpg")
				div.isingle
					a(href="../static/img/visantia/34.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/34.jpg")
				div.isingle
					a(href="../static/img/visantia/35.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/35.jpg")
				div.isingle
					a(href="../static/img/visantia/36.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/36.jpg")

			div.ifour
				div.isingle
					a(href="../static/img/visantia/37.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/37.jpg")
				div.isingle
					a(href="../static/img/visantia/38.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/38.jpg")
				div.isingle
					a(href="../static/img/visantia/39.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/39.jpg")
				div.isingle
					a(href="../static/img/visantia/40.jpg" data-fancybox-group="gallery_visantia" alt=""  title="").fancybox
						img(src="../static/img/visantia/40.jpg")







	script(src="static/js/widget_visantia.js")
