extends ../layout/layout

block title
	| Главная страница


block slider	
block photo_desk
	.desk-wrap
		img(src="../static/img/general/fon_lipki.jpg" alt="")


block second_menu
	include ../common/second_menu


block content