extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Об отеле" Отеля Византия


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','visantia_promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')
 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Гостевой дом «Византия» 3*.
			p Гостевой дом «Византия» расположился в центре курортного поселка Витязево (Анапа), в первой курортной зоне. До моря всего 300 метров, и добраться до него можно пешком за пять минут. Рядом с отелем - фруктово-овощной рынок, сувенирные лавки, набережная-бульвар «Паралия», летние кафетерии, аквапарк «Олимпия» и тематический парк аттракционов для взрослых и детей. 
			p Как только вы приедете и переступите порог нашего гостевого особняка, то сразу очутитесь в атмосфере искреннего гостеприимства и радушия. В холле, коридорах и номерах царит тишина, которая так необходима уставшим от путешествия туристам.
			p
				b Адрес отеля: 
				span 353440, Анапа, пос. Витязево, Александрийский проезд, д.15
			p
				b Расстояние 
				span до центра Анапы 12 км, до аэропорта 8 км, до пляжа 400 м, до моря 700 м.
			p
				b Пляж: 
				span муниципальный (общественный) песчаный, услуги проката.
			p
				b Год строительства: 
				span 2010
			p
				b Территория: 
				span охраняемая, ухоженная.
			p
				span.t-bold Номера:
				ul
					li Стандарт: мебель, сплит-система, холодильник, ТВ, санузел/душ;
					li Люкс: две комнаты, мебель, сплит-система, холодильник, ТВ, санузел/душ, диван-кровать.

			p каждом номере - спутниковое телевидение, холодильник, сплит-система, туалет, душ. Общее количество номеров: 54. Уборка номеров - ежедневно, смена постельного белья - раз в неделю, смена полотенец - раз в 3 дня.
			p
				b В стоимость включено: 
				span проживание, пользование бассейном, Wi-Fi на стойке регистрации.
			p При размещении в отеле не гарантируется: расположение номеров рядом, этаж, вид, спальное место (раздельные или двуспальные кровати), если данная информация не указана в описании номера.
			p
				b Дети 
				span принимаются с любого возраста:
				span до 3 лет бесплатно, без предоставления места. Стоимость детской кроватки - 300 рублей/сутки (доп. услуга).
			p
				b Питание: 
				p c 01.06.17 по 09.09.17 - 3-разовое питание "шведский стол"
				ul 
					li дети до 3 лет – бесплатно;
					li дети от 3 до 13 лет - 400 руб. в день;
					li взрослые 650 руб. в день.
				p c 30.04.17 по 31.05.17 и с 10.09.17 по 30.09.17- 3-разовое питание с элементами "шведского стола"
				ul 
					li дети до 3 лет – бесплатно;
					li дети от 3 до 13 лет - 300 руб. в день;
					li взрослые 550 руб. в день.

			
			p Детям: детский бассейн, детская площадка, развлекательные программы (анимация).
			p
				b Документы при заселении: 
				span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			p
				b Расчетный час: 
				span заезд с 14:00, выезд до 12:00.
			p
				b  Инфраструктура: 
				span  бассейн с подогревом, гейзером и водопадом, Wi-Fi, услуги прачечной, детская площадка, детская анимационная программа.
			p
				span.t-bold  Спорт: 
				span настольный теннис.
			p
				span.t-bold Услуги: 
				ul
					li продления номера (по возможности) – 200 руб./час;
					li аренда детской кроватки - 300 рублей/сутки;
					li прокат пляжных принадлежностей.
			p
				b Курение: 
				span разрешается только в строго отведенных местах.
			p
				b Животные: 
				span привозить животных не разрешается.
			p
				b Контакты: 
				ul
					li  Отдел бронирования (Анапа): +7 918 472-06-76   
						a(href="mailto:visantia.gb08@mail.ru") visantia.gb@mail.ru 
					li Служба размещения: +7 918 472-06-76.

	script(src="static/js/widget_visantia_internal.js")