extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Об отеле" Отеля Византия


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','visantia_promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')
 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Византия» 
		.contacts-wrap
				p  353456 Росия, Краснодарский край, п. Витязево, Александрийский проезд, д.15 
				p Отдел размещения и бронирования: +7 918 472-06-76
				p E-mail:   
					a(href="mailto:vizantiya.gd@mail.ru")  vizantiya.gd@mail.ru 
				p Трансфер: 
				p Проезд: 

				.map-wrap
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ljft54wNQrRNpHUnplS1hJ9N7f04pZPO&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
	script(src="static/js/widget_visantia_internal.js")
