extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Цены" Отеля Византия


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-visantia
		.banner
			.inner
				+hname('Отель','Византия','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('visantia','/visantia_about.html','/visantia_rooms.html','visantia_price.html','visantia_promoution.html','visantia_gallery.html','visantia_response.html','visantia_contacts.html')

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Византия. Цены.
			p.text-zag Номера:

			ul
				li 
					span.t-bolt 2-местный dbl: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 и 1 доп. место - кресло-кровать;
				li
					span.t-bolt 2-местный twin: 
					span сплит-система, ТВ, холодильник, санузел, душ, две односпальные кровати 0,9*1,8 и 1 доп. место - кресло-кровать;
				li
					span.t-bolt 3-местный: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8;
				li
					span.t-bolt 3-местный с доп. местом: 
					span сплит-система, ТВ, холодильник, санузел, душ, 3 односпальные кровати 0,9*1,8  и 1 доп. место - кресло-кровать;
				li
					span.t-bolt 4-местный : 
					span сплит-система, ТВ, холодильник, санузел, душ, 4 односпальные кровати 0,9*1,8 ;
				li
					span.t-bolt 2-местный 2-комнатный Люкс: 
					span сплит-система, ТВ, холодильник, санузел, душ, двуспальная кровать 1,4*1,8 и 2 доп. места - диван-кровать.

			</br>
			p.text-zag Стоимость проживания на основном месте, руб. /сутки, (без питания)
			.table-wrap
				table.tprice
					tr
						td.zag-table Период
						td.zag-table 2-местный
						td.zag-table 3-местный
						td.zag-table 4-местный
						td Люкс
						td Доп. место

					tr
						td 30.04 – 04.05
						td 1040
						td 1170
						td 1560
						td 1700
						td 325
					tr
						td 05.06 – 10.06
						td 2080
						td 2340
						td 2600
						td 3120
						td 520
					tr
						td 11.06 – 30.06
						td 2600
						td 2730
						td 3120
						td 3640
						td 520
					tr
						td 01.07 – 25.08
						td 3120
						td 3510
						td 4160
						td 4160
						td 520
					tr
						td 26.08 – 15.09
						td 2080
						td 2730
						td 3120
						td 3120
						td 520
					tr
						td 16.09 – 30.09
						td 1560
						td 1600
						td 1650
						td 2210
						td 325

			p
				b В стоимость включено: 
				span проживание, пользование бассейном, Wi-Fi на стойке регистрации.
			p
				b Дети: 
				span принимаются с любого возраста:

			ul
				li до 3 лет бесплатно, без предоставления места;
				li стоимость детской кроватки - 300 рублей/сутки. 

			p
				b Стоимость питания:
			p с 01.06.17 по 09.09.17 – 3-разовое  питание «шведский стол»
			ul
				li дети до 3 лет – бесплатно;
				li дети от 3 до 13 лет - 400 руб. в день;
				li взрослые 650 руб. в день.
			p с 30.04.17 по 31.05.17 и с 10.09.17 по 30.09.17  – 3-разовое комплексное питание с элементами «шведского стола».
			ul
				li дети до 3-х лет – бесплатно;
				li дети от 3-х до 13 лет - 300 руб. в день;
				li взрослые – 550 руб. в день.
			
			p
				b  Услуги:
			ul 
				li продление номера (по возможности) – 200 руб./час;
				li аренда детской кроватки - 300 рублей/сутки;
				li прокат пляжных принадлежностей.
			</br>
			</br>
	script(src="static/js/widget_visantia_internal.js")
