extends ../layout/layout
include ../common/mixins
block title
	| страница Контакты


block slider	

block photo_desk
	.contacts-img


block second_menu
	include ../common/second_menu
	

block content
	.base-wrap
		.contacts-wrap
			.contacts-tel
				span Тел.
				p +7 (555) 555 55 55
			.contacts-email
				span email:
				p  google@google.ru
			.contacts-address
				span Наш адрес:
				p Россия, Краснодарский край, г-к Анапа, поселок Витязево, Александрийский проезд, д.15 
			.contacts-transfer
				span Как добраться от аэропорта
				P Такси
			.contacts-how-to-get
				span Как добраться от аэропорта
				P Автобусом

