extends ../layout/layout

block title
	| Главная страница


block slider	
block photo_desk
	.main-hotel-img
		p test
	.desk-wrap
		img(src="../static/img/general/fon_lipki_test.jpg" alt="")


block second_menu
	include ../common/second_menu


block content
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
		img(src="../static/img/general/lipki.png")
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
		img(src="../static/img/general/lipki.png")
	a(href="../static/img/general/lipki.png" data-fancybox-group="gallery" alt=""  title="Lorem ipsum dolor sit amet").fancybox
		img(src="../static/img/general/lipki.png")
	