extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Номера"Отеля Южная ночь


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель','Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/yug_night_promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-10.jpg")
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart_dbl/1-1.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-2.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-4.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/1-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-5.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-6.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-7.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-8.jpg")
						li
							img(src="../static/img/isidor/standart_dbl/2-10.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт

				div.text-item
					ul
						li площадь номера 12-14 кв.м.;
						li сплит-система, ТВ, холодильник, санузел;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 5.


			.knopka
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-15.jpg")
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/3-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus/big/4-15.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт с балконом:

				div.text-item
					ul
						li площадь номера 12-14 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, балкон;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 0
						li номеров в отеле: 7.
						
			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-7.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/4-7.jpg")
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-7.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/3-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_plus_plus/big/4-7.jpg")
			div.desc-text
				div.header-text
					p 2-местный ПК:

				div.text-item
					ul
						li площадь номера 15-18 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 46.

			.knopka
				a#isidor-standart2-dbl-plus-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
				div#carousel-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin/big/2-9.jpg")
			div.desc-text
				div.header-text
					p 3-местный ПК:

				div.text-item
					ul
						li площадь номера 20-25 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;
						li двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8 м, 1 доп. место – кресло-кровать;
						li основных мест: 3;
						li дополнительных мест: 1;
						li номеров в отеле: 14.

			.knopka
				a#isidor-standart2-dbl-twin(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-11.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/7.jpg")
				div#carousel-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/4-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-1.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-2.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-3.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-4.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-8.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-9.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-10.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/5-11.jpg")
						li
							img(src="../static/img/isidor/standart2_dbl_twin_plus_plus/big/7.jpg")
			div.desc-text
				div.header-text
					p 3-местный 2-комнатный ПК: 

				div.text-item
					ul
						li площадь номера 20-25 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;
						li двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8 м, 2 доп. место – диван-кровать;
						li основных мест: 3;
						li дополнительных мест: 2;
						li номеров в отеле: 7.

			.knopka
				a#isidor-standart2-dbl-twin-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart3/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-15.jpg")
				div#carousel-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/isidor/standart3/big/4-5.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-6.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-8.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-9.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-12.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-13.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-14.jpg")
						li
							img(src="../static/img/isidor/standart3/big/4-15.jpg")
			div.desc-text
				div.header-text
					p 2-местный 2-комнатный студия: 

				div.text-item
					ul
						li площадь номера 40 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душевая кабинка, балкон;
						li двуспальная кровать 1,4*1,8, 2 доп. места – диван-кровать 1,4*1,8 м;
						li основных мест: 2;
						li дополнительных мест: 2
						li номеров в отеле: 4.

			.knopka
				a#isidor-standart3(href="javascript:void(0);").bron Забронировать 


	script(src="static/js/widget_isidor_internal.js")