extends ../layout/layout_hotels
include ../common/mixins
block title
	| Отель "Южная ночь"


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-yug
		.banner
			.inner
				+hname('Отель','Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Об отеле
		.des-about
			h3 Отель «Южная ночь»
			p Отель «Южная ночь» расположен в центре курортного поселке Джемете, на второй линии Пионерского проспекта города-курорта Анапа. В непосредственной близости от отеля находится аквапарк Тики-Так», парк аттракционов, кафе, рестораны, сувенирные лавки, аптеки, банкоматы. Удобное расположение в центре курортной зоны и близость к морю (5-10 минут ходьбы) делают отель «Южная ночь» особо привлекательным для туристов. Отель прекрасно подходит для пляжного семейного отдыха. Преимуществом отеля является идеальное сочетание комфорта номеров, высокого уровня сервиса и удобного расположения.
			p Территория отеля благоустроена и украшена пышными цветниками и клумбами, среди которых можно встретить декоративных птиц, голубей, павлинов и фазанов. Для гостей есть пресноводный бассейн открытого типа с функциями гидромассажа, водопадом и детской чашей. В тени фруктового сада расположена детская площадка. В столовой под арками виноградника - два обеденных зала. Питание комплексное трехразового, европейская кухня с элементами шведского стола. Для отдыхающих с автомобилем предусмотрена открытая парковка.
			p
				b Адрес отеля: 
				span 353456, Анапа, Пионерский проспект, 68.
			p
				b Расстояние 
				span до центра Анапы 7 км, до аэропорта 10 км, до ж/д вокзала 2 км, до пляжа 500 м.
			p
				b Пляж: 
				span муниципальный (общественный) песчаный, услуги проката.
			p
				b Год строительства: 
				span 1993
			p Год капитальной реконструкции: 2010, 2016 
			p
				b Территория: 
				span 0,38 га, охраняемая, ухоженная, озелененная.
			p
				span.t-bold Номера:
			p
				ul
					li 2-местный Стандарт (2 осн.): сплит-система, ТВ, холодильник, санузел. Площадь номера 12-14 кв.м.;
					li 2-местный Стандарт с балконом (2 осн.): сплит-система, ТВ, холодильник, санузел, балкон. Площадь номера 12-14 кв.м.;
					li 2-местный ПК (2 осн.+1 доп.): сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 15-18 кв.м.;
					li 3-местный ПК (3 осн.+1 доп.): сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 20-25 кв.м.;
					li 3-местный 2-комнатный ПК (3 осн.+2 доп.): сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 20-25 кв.м.;
					li 2-местный 2-комнатный студия (2 осн.+2 доп.): сплит-система, ТВ, холодильник, санузел, душевая кабинка, балкон. Площадь номера 40 кв.м..
			p В каждом номере – телевидение (общественные каналы), холодильник, индивидуальный кондиционер, туалет, душ. Общее количество номеров: 83. Покрытие пола – ламинат, плитка, ковролин. Обслуживание в номере. Уборка номеров - ежедневно, смена постельного белья, полотенец – 1 раз в 5 дней.
			p
				b Дети 
				span принимаются с любого возраста:
			ul
				li до 6 лет без предоставления места – бесплатно;
				li стоимость детской кроватки - 300 рублей/сутки. 
			p При размещении в отеле не гарантируется расположение номеров рядом, этаж, корпус, вид, спальное место (раздельные или двуспальные кровати), если данная информация не указана в описании номера.
			p
				b В стоимость включено: 
				span проживание, пользование бассейнами, детской площадкой, Wi-Fi в номерах, анимация.
			p
				b Питание: 
				span  трехразовое комплексное с элементами «шведского стола»:
				ul
					li взрослый – 550 руб./сутки;
					li дети от 3 до 12 лет - 300 руб./сутки
					li дети до 3 лет - бесплатно. 

			p
				b В стоимость включено: 
				span В стоимость включено: проживание, пользование бассейном, Wi-Fi на стойке регистрации, анимация.
				p При размещении в отеле не гарантируется этаж, вид из окна, расположение номеров рядом, спальное место (двуспальная кровать или раздельные кровати), если данной информации нет в описании номера. Данные опции предоставляются по возможности.
			p
				b Документы при заселении: 
				span на взрослого - паспорт, на ребенка до 14 лет – свидетельство о рождении.
			p
				b Расчетный час: 
				span заезд с 14:00, выезд до 12:00.
			p
				b  Инфраструктура: 
				span бассейн с детской чашей открытого типа с функциями гидромассажа и системой водопада, парковка, сейф на стойке регистрации, Wi-Fi, столовая (2 обеденных зала), услуги прачечной, детская площадка,  орнитопарк, анимационная программа.
			p
				b Услуги: 
				ul
					li парковка неохраняемая – 200 руб./сутки;
					li поздний выезд (по возможности) – 200 руб./час;
					li прокат пляжного инвентаря, велосипедов, детских колясок.
					

			p Детям: 
				span детское отделение в бассейне, детская площадка, высокие стульчики в столовой, детская кроватка в номере, развлекательные программы (анимация).
			p
				b Курение: 
				span разрешается только в строго отведенных местах.
			p
				b Животные: 
				span привозить животных не разрешается.

			p
				b Как добраться: 
				ul
					li от аэропорта Анапы маршрутное такси №113 до автовокзала, далее маршрутное такси №128, 114 до остановки «Полярные зори».
					li от ж/д вокзала Анапы маршрутное такси №100 до автовокзала, далее маршрутное такси №128, 114 до остановки «Полярные зори».

				b Контакты: 
				ul
					li  Отдел бронирования (Анапа): +7 989 244 26 03   
						a(href="mailto:u-noch@list.ru") u-noch@list.ru
					li Служба размещения: +7 989 244 26 03

	script(src="static/js/widget_yug.js")


