extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Южная ночь" - Номера


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-yug
		.banner
			.inner
				+hname('Отель','Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Номера
		div.room-desc
			div.gallery
				div#slider.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/2st-1.jpg" data-fancybox-group = "yug1").fancybox
								img(src="../static/img/yug_night/rooms/2st-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2st-2.jpg" data-fancybox-group = "yug1").fancybox
								img(src="../static/img/yug_night/rooms/2st-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2st-3.jpg" data-fancybox-group = "yug1").fancybox
								img(src="../static/img/yug_night/rooms/2st-3.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2st-4.jpg" data-fancybox-group = "yug1").fancybox
								img(src="../static/img/yug_night/rooms/2st-4.jpg" )
				div#carousel.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/2st-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/2st-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/2st-3.jpg")
						li
							img(src="../static/img/yug_night/rooms/2st-4.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт

				div.text-item
					ul
						li площадь номера 12-14 кв.м.;
						li сплит-система, ТВ, холодильник, санузел;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 0;
						li номеров в отеле: 5.
			.knopka
				a#isidor-standart2-dbl(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/2stb-1.jpg" data-fancybox-group = "yug2").fancybox
								img(src="../static/img/yug_night/rooms/2stb-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2stb-2.jpg" data-fancybox-group = "yug2").fancybox
								img(src="../static/img/yug_night/rooms/2stb-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2stb-3.jpg" data-fancybox-group = "yug2").fancybox
								img(src="../static/img/yug_night/rooms/2stb-3.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2stb-4.jpg" data-fancybox-group = "yug2").fancybox
								img(src="../static/img/yug_night/rooms/2stb-4.jpg" )
				div#carousel-isidor-standart2-dbl-plus.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/2stb-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/2stb-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/2stb-3.jpg")
						li
							img(src="../static/img/yug_night/rooms/2stb-4.jpg")
			div.desc-text
				div.header-text
					p 2-местный Стандарт с балконом:

				div.text-item
					ul
						li площадь номера 12-14 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, балкон;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 0
						li номеров в отеле: 7.
						
			.knopka
				a#isidor-standart2-dbl-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/2pk-1.jpg" data-fancybox-group = "yug3").fancybox
								img(src="../static/img/yug_night/rooms/2pk-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2pk-2.jpg" data-fancybox-group = "yug3").fancybox
								img(src="../static/img/yug_night/rooms/2pk-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2pk-3.jpg" data-fancybox-group = "yug3").fancybox
								img(src="../static/img/yug_night/rooms/2pk-3.jpg" )
						li
							a(href="../static/img/yug_night/rooms/2pk-4.jpg" data-fancybox-group = "yug3").fancybox
								img(src="../static/img/yug_night/rooms/2pk-4.jpg" )
				div#carousel-isidor-standart2-dbl-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/2pk-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/2pk-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/2pk-3.jpg")
						li
							img(src="../static/img/yug_night/rooms/2pk-4.jpg")
			div.desc-text
				div.header-text
					p 2-местный ПК:

				div.text-item
					ul
						li площадь номера 15-18 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;;
						li двуспальная кровать 1,4*1,8 или две односпальные кровати 0,9*1,8;
						li основных мест: 2;
						li дополнительных мест: 1;
						li номеров в отеле: 46.

			.knopka
				a#isidor-standart2-dbl-plus-plus(href="javascript:void(0);").bron Забронировать 


		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/3pk-1.jpg" data-fancybox-group = "yug4").fancybox
								img(src="../static/img/yug_night/rooms/3pk-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/3pk-2.jpg" data-fancybox-group = "yug4").fancybox
								img(src="../static/img/yug_night/rooms/3pk-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/3pk-3.jpg" data-fancybox-group = "yug4").fancybox
								img(src="../static/img/yug_night/rooms/3pk-3.jpg" )
						li
							a(href="../static/img/yug_night/rooms/3pk-4.jpg" data-fancybox-group = "yug4").fancybox
								img(src="../static/img/yug_night/rooms/3pk-4.jpg" )
				div#carousel-isidor-standart2-dbl-twin.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/3pk-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/3pk-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/3pk-3.jpg")
						li
							img(src="../static/img/yug_night/rooms/3pk-4.jpg")
			div.desc-text
				div.header-text
					p 3-местный ПК:

				div.text-item
					ul
						li площадь номера 20-25 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;
						li двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8 м, 1 доп. место – кресло-кровать;
						li основных мест: 3;
						li дополнительных мест: 1;
						li номеров в отеле: 14.

			.knopka
				a#isidor-standart2-dbl-twin(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/3-2pk-1.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/3-2pk-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/3-2pk-2.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/3-2pk-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/3-2pk-3.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/3-2pk-3.jpg" )
				div#carousel-isidor-standart2-dbl-twin-plus-plus.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/3-2pk-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/3-2pk-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/3-2pk-3.jpg")
			div.desc-text
				div.header-text
					p 3-местный 2-комнатный ПК: 

				div.text-item
					ul
						li площадь номера 20-25 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон;
						li двуспальная кровать 1,4*1,8, односпальная кровать 0,9*1,8 м, 2 доп. место – диван-кровать;
						li основных мест: 3;
						li дополнительных мест: 2;
						li номеров в отеле: 7.

			.knopka
				a#isidor-standart2-dbl-twin-plus-plus(href="javascript:void(0);").bron Забронировать 

		div.room-desc
			div.gallery
				div#slider-isidor-standart3.flexslider
					ul.slides
						li
							a(href="../static/img/yug_night/rooms/stud-1.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/stud-1.jpg" )
						li
							a(href="../static/img/yug_night/rooms/stud-2.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/stud-2.jpg" )
						li
							a(href="../static/img/yug_night/rooms/stud-3.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/stud-3.jpg" )
						li
							a(href="../static/img/yug_night/rooms/stud-4.jpg" data-fancybox-group = "yug5").fancybox
								img(src="../static/img/yug_night/rooms/stud-4.jpg" )
				div#carousel-isidor-standart3.flexslider
					ul.slides
						li
							img(src="../static/img/yug_night/rooms/stud-1.jpg")
						li
							img(src="../static/img/yug_night/rooms/stud-2.jpg")
						li
							img(src="../static/img/yug_night/rooms/stud-3.jpg")
						li
							img(src="../static/img/yug_night/rooms/stud-4.jpg")
			div.desc-text
				div.header-text
					p 2-местный 2-комнатный студия: 

				div.text-item
					ul
						li площадь номера 40 кв.м.;
						li сплит-система, ТВ, холодильник, санузел, душевая кабинка, балкон;
						li двуспальная кровать 1,4*1,8, 2 доп. места – диван-кровать 1,4*1,8 м;
						li основных мест: 2;
						li дополнительных мест: 2
						li номеров в отеле: 4.

			.knopka
				a#isidor-standart3(href="javascript:void(0);").bron Забронировать 


	script(src="static/js/widget_yug.js")