extends ../layout/layout_hotels
include ../common/mixins
block title
	| "Южная ночь" - Акции


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img-yug-night
		.bron-for-hotel-pages
			#search-widget-yug
		.banner
			.inner
				+hname('Отель','Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 
block content
	.base-wrap
		h2.text-name-page Акции
	script(src="static/js/widget_yug.js")
