extends ../layout/layout_hotels
include ../common/mixins
block title
	| Страница  "Контакты" Отеля  Южная ночь



block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-isidor
		.banner
			.inner
				+hname('Отель',' Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/yug_night_promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Контакты
		h3 Отель «Южная ночь»
		.contacts-wrap
				p 353456 г. Анапа, Пионерский пр-т, д. 68
				p Отдел бронирования (Анапа):  тел.: +7 989 244 26 03
				p E-mail:   
					a(href="mailto:u-noch@list.ru")  u-noch@list.ru 
				p Как добраться:
				ul
					li от аэропорта Анапы маршрутное такси №113 до автовокзала, далее маршрутное такси №128, 114 до остановки «Полярные зори».
					li от ж/д вокзала Анапы маршрутное такси №100 до автовокзала, далее маршрутное такси №128, 114 до остановки «Полярные зори»

				.map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KIVXTz3Bm0WM73-WNIKPqK_VUQS7QXKR&amp;width=1250&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

	script(src="static/js/widget_isidor_internal.js")

