extends ../layout/layout_hotels
include ../common/mixins
block title
	| Cтраница "Цены "  Отеля Южная ночь


block slider	
block photo_desk
	.base-wrap
		.main-hotel-img
		.bron-for-hotel-pages
			#search-widget-chistakis
		.banner
			.inner
				+hname('Отель','Южная ночь','Анапа')



block second_menu
	.base-wrap
		//include ../common/second_menu
		+smenu('yug_night','/yug_night_about.html','/yug_night_rooms.html','/yug_night_price.html','/yug_night_promoution.html','/yug_night_gallery.html','/yug_night_response.html','/yug_night_contacts.html') 

block content
	.base-wrap
		h2.text-name-page Цены
		.price-wrap
			p.text-zag Южная ночь. Цены.
			p.text-zag Номера:

			ul
				li 
					span.t-bolt 2-местный Стандарт (2 осн.): 
					span сплит-система, ТВ, холодильник, санузел. Площадь номера 12-14 кв.м.ж
				li
					span.t-bolt 2-местный Стандарт с балконом (2 осн.): 
					span сплит-система, ТВ, холодильник, санузел, балкон. Площадь номера 12-14 кв.м.ж
				li
					span.t-bolt  2-местный ПК (2 осн.+1 доп.):
					span сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 15-18 кв.м.ж
				li
					span.t-bolt 3-местный ПК (3 осн.+1 доп.):
					span сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 20-25 кв.м.;
				li
					span.t-bolt 3-местный 2-комнатный ПК (3 осн.+2 доп.):
					span сплит-система, ТВ, холодильник, санузел, душ/ванна, лоджия/балкон. Площадь номера 20-25 кв.м.;
				li
					span.t-bolt 2-местный 2-комнатный студия (2 осн.+2 доп.):
					span сплит-система, ТВ, холодильник, санузел, душевая кабинка, балкон. Площадь номера 40 кв.м.

			</br>
			p.text-zag Стоимость номера и доп. места, руб./сутки (без питания)
			.table-wrap
				table.tprice
					tr
						td Период
						td 2-местный стандарт
						td 2-местный стандарт с балконом
						td 2-местный ПК
						td 3-местный ПК
						td 2-местный 2-комнатный студия
						td Доп. место
					tr
						td 20.05 – 31.05
						td 840
						td 1040
						td 1300
						td 1950
						td 1800
						td 300
					tr
						td 01.06 – 15.06
						td 1360
						td 1560
						td 1820
						td 2730
						td 2700
						td 400
					tr
						td 16.06 – 25.06
						td 1880
						td 2080
						td 2340
						td 3510
						td 3000
						td 400
					tr
						td 26.06 – 25.08
						td 2520
						td 2720
						td 3120
						td 4680
						td 3900
						td 500
					tr
						td 26.08 – 15.09
						td 1620
						td 1820
						td 2080
						td 3120
						td 3300
						td 400
					tr
						td 16.09 – 30.09
						td 1360
						td 1560
						td 1820
						td 2730
						td 2700
						td 300
			p
				b В стоимость включено: 
				span проживание, пользование бассейнами, детской площадкой, Wi-Fi в номерах, анимация.
			p
				b Дети 
				span принимаются с любого возраста:
			
			ul
				li до 6 лет без предоставления места – бесплатно;;
				li стоимость детской кроватки - 300 рублей/сутки.. 

			p
				b Питание:
			p 3-х разовое «комплексное» с элементами шведского стола.
			ul
				li взрослый – 550 руб. /сутки;
				li дети от 3 до 12 лет – 300 руб. /сутки;
				li дети до 3 лет  – бесплатно.

			p
				b Услуги:
			ul 
				li парковка неохраняемая – 200 руб./сутки;
				li поздний выезд (по возможности) – 200 руб./час;
				li прокат пляжного инвентаря, велосипедов, детских колясок.
				
			</br>
			</br>
	script(src="static/js/widget_chistakis_internal.js")


