.main-hotel-img
	background rgba(0,0,0,0) url('../img/general/fon_lipki.jpg') center center no-repeat
	z-index 2
	display block !important
	height 200px
.desk-wrap
	width 100px
	//width mainWight
	color #fff
	margin 2px auto
	height 100px
	z-index 3
	img
		width 100%