mainFont = 'roboto_slabregular',sans-serif
headFont = 'helvetica_neuethin'
our_hotels_head_font = 'helveticaneuecyrthin',sans-serif


mainWidth = 1250px




top_heading_bg_color = #ff6633
bottom_bg_color = #ff6633

