@import '_vars.styl'
@import '_mixins.styl'

html
  line-height 1.4
  font-size 14px

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;
.wrap_strip
  background-color red
  
.wrapper
  background-color #d00
  padding 0px
  width 100%
  max-width 1200px
  margin 0 auto
  

body
  //background-color rgba(255,5,255,0.1)
  background  rgba(255,5,255,0.1) url('../img/general/7.png') top center
.main_slider
  img
    //height 300px    
  
// Стили шапки
@import 'common/_header.styl'
// Стили шапки - конец

// Стили главной страницы
@import 'page/_index.styl'
// Стили главной страницы - конец

// Стили плагинов
@import 'common/_plugins.styl'
// Стили плагинов - конец

// Стили Футера
@import 'common/_footer.styl'
// Стили футера - конец