@import '_vars.styl'
@import '_mixins.styl'

// Стили шапки
@import 'common/_header.styl'
// Стили шапки - конец



// Стили плагинов
@import 'common/_plugins.styl'
// Стили плагинов - конец

// Стили Футера
@import 'common/_footer.styl'
// Стили футера - конец

// Стили контакты
@import 'common/_contacts.styl'
// Стили контакты - конец

// Стили отзывы
@import 'common/_response.styl'
// Стили отзывы - конец

// Стили об отеле
@import 'common/_about.styl'
// Стили об отеле - конец

// Стили об отеле
@import 'common/_price.styl'
// Стили об отеле - конец

// Стили номера
@import 'common/_rooms.styl'
// Стили номера - конец

// Стили gallery
@import 'common/_gallery.styl'
// Стили gallery - конец

// Стили меню
@import 'common/_menu.styl'
// Стили меню - конец

// Стили главной страницы
@import 'page/_index.styl'
// Стили главной страницы - конец

// Стили  страница отеля Византия
@import 'page/_visantia.styl'

// Стили  страница отеля Византия
@import 'page/_all_actions.styl'

// Стили  страница 
@import 'common/_promoution.styl'













html
  line-height 1.4
  font-size 14px

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;
.wrap_strip
  background-color top_heading_bg_color
  background linear-gradient(to bottom,#ff4100,#ff7e31)
  //height 90px
    
  
.base-wrap
  padding 0px
  width 100%
  max-width mainWidth
  margin 0 auto
  position relative
  text-align center
.main-slider
  //background-color top_heading_bg_color
  //padding 0px
  //width 100%
  //max-width mainWidth
  //margin 0 auto
  

body
 
  font-family mainFont
  background-color #fff
  //background  rgba(255,5,255,0.1) url('../img/general/7.png') top center

.commom-slider-wrap
  position relative
.main-slider-wrap
  //max-width 1250px
  //display none
  color #fff
  



.bron-table-wrap
  background-color #eef5f7
  margin-bottom 20px
#search-widget
  width 90%
  left 350px
  


.search 
  background-color #417bb2
  opacity 0.5
  

.h2_style
  text-align center
  h2 
    color #000
    font-size 35px
    font-family helv__thin
    font-weight 500
    text-transform uppercase
    position relative
    display inline-block
    margin-bottom 20px
    
    &:before 
    &:after
      background #777 none repeat scroll 0 0 
      position absolute
      content " "
      width 180px
      height 1px
      top 0
      margin-top 20px
      max-width 100%
    &:before
      left -220px 
    &:after
      right -220px
      
// кружки выбора слайда
.bx-controls 
  //display none
  color #888
  position absolute
  right 100px
  top 0px
  width 100px

.bx-pager-item
  display block
  display inline-block

// ---------------------------- АКЦИИ (Jcarousel) ------------------------
.line-divide
  width 100%
  height 1px
  border-bottom 1px solid #ddd

.promotion-wrap
  background-color #f2f2f2
.promotion 
  text-align center
  margin-top 30px

  
.promo-single-wrap
  width 582px
  margin-bottom 30px
  display inline-block
  margin 0px 20px  0px 20px
  //border-bottom 1px solid #ddd
  .view
    width 100%
    height 100%
    overflow hiden
    position relative
    text-align center
    overflow hidden
    img
      display block
      position relative
      height 100%
      width 100%
    .mask
      width 100%
      height 100%
      position absolute
      overflow hidden
      top 0
      left 0
    h2
      color #fff
      text-align center
      position relative
      font-family 22px
      padding-top 60px
      padding-bottom 20px
      //background rgba(0,0,0,0.8)
    p
      font-size 17px
      position relative
      color #fff
      text-align center
      padding 0px 20px
      
// ДЕЛАЕМ НАПЛЫВ ТЕКСТА ПРИ НАВЕДЕНИИ
.view-first
  .img
    transition all 0.2s linear
  .mask
    opacity 0 
    background-color rgba(127,127,127,0.7)
    transition all 0.4s ease-in-out 
  h2
    transform translateY(-100px)
    opacity 0
    transition all 0.2s ease-in-out
  p
    transform translateY(100px)
    opacity 0
    transition all 0.2s linear
  &:hover 
    img 
      transform scale(1.1)
    .mask 
        opacity 1
    h2,p
      opacity 1
      transform translateY(0px)
    p 
    transition-delay 0.1s




.select-prom
  width 582px 
  text-align right
.b-wrap
    //width 35%
    float right
    
    margin-top 10px
    margin-bottom 20px
    text-align center

.promo-text-block
  background linear-gradient(to bottom,#f8f8f8,#d7d7d7)
  padding-top 10px
  width 100%
  height 100%
  padding-bottom 15px

  //width 582px
  //height 84px
  
  background-color #ddd
  margin-bottom 10px
.promo-text-block-left
  width 49%
  display inline-block
  text-align left
  span , p
      list-style-type disc
      color #555
      font-size 18px
      padding 0px 0 3px 20px
      line-height 30px
      &.simbol
        font-size 16px
        color red
        margin-left 10px
        font-family helv__thin

.more-promotion
  text-align center
  margin-top 15px
  padding-bottom 15px
  a
    color #4980c4
    font-size 18px
    &:hover
      text-decoration underline



.promo-text-block-right
  width 50%
  display inline-block
  text-align left
  span , p
      list-style-type disc
      color #555
      font-size 18px
      padding 0px 0 3px 20px
      line-height 30px
      &.simbol
        font-size 16px
        color red
        margin-left 50px
        font-family helv__thin
        
  span
    &.colored
      color #dd4444



// акции старый вариант

.j-wrapper
  border none 
  position relative 
.jcarousel
  ul 
    li
      border none
      background-color #e9e9e
      padding 5px
  .item
    .view
      width 275px
      position relative
      margin 0 auto
      a
        img
          border-radius 6px
      span
        position absolute
        background-color #a51622
        border-radius 3px
        padding 2px 5px
        color #fff
        right 15px
        bottom 55px
    .name
      margin 0 auto
      background-color #c30303
      border-radius  0 33px
      height 48px
      padding 0 30px
      text-align left
      text-transform uppercase
      width 275px
      vertical-align middle
      margin-top 5px
      a
        color #fff
        font-size 16px
        font-weight 800
    .desc
      margin 0 auto
      width 275px
      .hotel-name
        text-align left
        padding 7px 0px 10px 10px
        border-bottom 1px solid #999
        width 65%
        a
          font-size 16px
          &:hover 
            text-decoration underline
      .location
        text-align left
        padding 1px 0 0 10px 
.jcarousel-control-prev , .jcarousel-control-next
  background rgba(0,0,0,0) url("../img/general/actions-arrow.png") no-repeat scroll center center
  position absolute
  width 30px
  height 80px
.jcarousel-control-prev
  background-position 0 0 
  top 40%
  left -100px
.jcarousel-control-next
  top 40%
  right -100px
  background-position -28px 0
          
// ---------------------------- НОВОСТИ ------------------------

.news
  margin-bottom 30px
  
.block-item-news
  margin-bottom 25px
  width 70%
  margin 0 auto
  margin-bottom 25px
.item-news  
  display inline-block
  width 30% 
  margin-bottom 20px
  //margin-right 48px
  vertical-align top
  .img
    float left  
    img 
      border-radius 5px
  .desc
    margin-left 90px
    .date
      text-align left
      span
        font-size 16px
        padding-left 10px
      a
        text-align left
        display block
        padding-left 10px
        color #98131d
.all-news
  a
    color #cf1223
    font-size 15px
    text-decoration underline
    &:hover
      text-decoration none
        
// ---------------------------- НАШИ ОТЕЛИ ------------------------
.our-hotels
  margin-top 30px
//.second_menu 
//  display block
//  height 100px     

.block-item-hotels
  color #333
      
.item-hotel
  border-bottom 1px solid #ddd
  display inline-block
  width 600px
  margin-bottom 50px
  margin-left 20px
  position relative
  padding-bottom 20px
  .img_hotel
    display table-cell
    img
      width 250px
      height 190px
      border-radius 4px
    

.desc-hotel
  display table-cell
  position relative
  text-align left
  vertical-align top
  padding 4px 0px 20px 15px
        
.hotel-info
  a
    color #1375b4
    font-size 20px
    &:hover
      text-decoration underline
  .logo
    position absolute
    width 30px
    height 30px
    top 0
    right 0
  .geo
    color #a5a5a5
    font-size 10px
    margin-bottom 10px
    
.hotel-text
  margin-bottom 10px  
  height 84px


.bbron
  position absolute
  top 150px
  left 420px

.hotel-price
    position absolute
    //top 250px
    //left 330px
    top 160px
    left 260px
    span 
      font-size 24px
      font-family verdana,sans-serif
      font-weight 800



.rub
  border-bottom 2px solid
  display inline-block
  width 14px
  line-height 5px
     

.bron 
  //background-color #c30303  
  background linear-gradient(to bottom, #ff4402,#ff7a2e)
  //width 150px
  display block
  border-radius 5px
  box-shadow 0 2px 6px #666
  //margin-left 30px
  font-size 15px
  height 37px
  color #444
  font-weight 800
  padding 7px 10px 0px 10px
  border 1px solid #ff5f18
  &:hover
    text-decoration underline
.dop-menu
  margin-top 18px
  margin-bottom 10px
  text-align left
  .inline-block
    display inline-block
    margin-left 10px
    padding-left 23px
    padding-right 20px
    text-decoration none
    &.desc
      background url("../img/general/hotel-dop-menu.png")  no-repeat 
      font-size 12px
      background-position 0px 4px
      a
        padding-right 20px
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.price
      font-size 12px
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -41px
      a
        padding-right 20px      
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.foto
      font-size 12px
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -88px
      a
        padding-right 20px      
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.rewiews
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -133px      
      font-size 12px
      a
        padding-right 20px
        &:hover
         text-decoration underline

h2.text-name-page
  font-size 35px   
  text-align left
  padding-left 20px
  padding-top 15px
  border-bottom 1px solid #ccc
  margin-bottom 30px 
  font-family helv__thin
  text-transform uppercase
  font-weight 100
  
      
  
