@import '_vars.styl'
@import '_mixins.styl'

// Стили шапки
@import 'common/_header.styl'
// Стили шапки - конец



// Стили плагинов
@import 'common/_plugins.styl'
// Стили плагинов - конец

// Стили Футера
@import 'common/_footer.styl'
// Стили футера - конец

// Стили контакты
@import 'common/_contacts.styl'
// Стили контакты - конец

// Стили отзывы
@import 'common/_response.styl'
// Стили отзывы - конец

// Стили об отеле
@import 'common/_about.styl'
// Стили об отеле - конец

// Стили об отеле
@import 'common/_price.styl'
// Стили об отеле - конец

// Стили номера
@import 'common/_rooms.styl'
// Стили номера - конец

// Стили gallery
@import 'common/_gallery.styl'
// Стили gallery - конец


// Стили главной страницы
@import 'page/_index.styl'
// Стили главной страницы - конец

// Стили  страница отеля Византия
@import 'page/_visantia.styl'

// Стили  страница отеля Византия
@import 'page/_all_actions.styl'















html
  line-height 1.4
  font-size 14px

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;
.wrap_strip
  background-color top_heading_bg_color
  //height 90px
  
.base-wrap
  padding 0px
  width 100%
  max-width mainWidth
  margin 0 auto
  position relative
.main-slider
  //background-color top_heading_bg_color
  //padding 0px
  //width 100%
  //max-width mainWidth
  //margin 0 auto
  

body
  font-family mainFont
  background-color #fff
  //background  rgba(255,5,255,0.1) url('../img/general/7.png') top center

.h2_style
  text-align center
  h2 
    color #000
    font-size 35px
    font-family helv__thin
    font-weight 500
    text-transform uppercase
    position relative
    display inline-block
    margin-bottom 20px
    
    &:before 
    &:after
      background #777 none repeat scroll 0 0 
      position absolute
      content " "
      width 180px
      height 1px
      top 0
      margin-top 20px
      max-width 100%
    &:before
      left -220px 
    &:after
      right -220px
      

// ---------------------------- АКЦИИ (Jcarousel) ------------------------

.j-wrapper
  border none 
  position relative 
.jcarousel
  ul 
    li
      border none
      background-color #e9e9e
      padding 5px
  .item
    .img
      width 275px
      position relative
      margin 0 auto
      a
        img
          border-radius 6px
      span
        position absolute
        background-color #a51622
        border-radius 3px
        padding 2px 5px
        color #fff
        right 15px
        bottom 55px
    .name
      margin 0 auto
      background-color #c30303
      border-radius  0 33px
      height 48px
      padding 0 30px
      text-align left
      text-transform uppercase
      width 275px
      vertical-align middle
      margin-top 5px
      a
        color #fff
        font-size 16px
        font-weight 800
    .desc
      margin 0 auto
      width 275px
      .hotel-name
        text-align left
        padding 7px 0px 10px 10px
        border-bottom 1px solid #999
        width 65%
        a
          font-size 16px
          &:hover 
            text-decoration underline
      .location
        text-align left
        padding 1px 0 0 10px 
.jcarousel-control-prev , .jcarousel-control-next
  background rgba(0,0,0,0) url("../img/general/actions-arrow.png") no-repeat scroll center center
  position absolute
  width 30px
  height 80px
.jcarousel-control-prev
  background-position 0 0 
  top 40%
  left -100px
.jcarousel-control-next
  top 40%
  right -100px
  background-position -28px 0
          
// ---------------------------- НОВОСТИ ------------------------
.block-item-news
  margin-bottom 25px
  width 70%
  margin 0 auto
  margin-bottom 25px
.item-news  
  display inline-block
  width 30% 
  margin-bottom 20px
  //margin-right 48px
  vertical-align top
  .img
    float left  
    img 
      border-radius 5px
  .desc
    margin-left 90px
    .date
      text-align left
      span
        font-size 16px
        padding-left 10px
      a
        text-align left
        display block
        padding-left 10px
        color #98131d
.all-news
  a
    color #cf1223
    font-size 15px
    text-decoration underline
    &:hover
      text-decoration none
        
// ---------------------------- НАШИ ОТЕЛИ ------------------------

//.second_menu 
//  display block
//  height 100px     


      
.item-hotel
  border-bottom 1px solid #aaa
  display inline-block
  width 600px
  margin-bottom 20px
  margin-left 20px
  .img_hotel
    display table-cell
    img
      width 250px
      border-radius 4px
    

.desc-hotel
  display table-cell
  position relative
  text-align left
  vertical-align top
  padding 4px 0px 20px 15px
        
.hotel-info
  a
    color #1375b4
    font-size 20px
    &:hover
      text-decoration underline
  .logo
    position absolute
    width 30px
    height 30px
    background-image url("../img/general/atelica_logo.png")
    top 0
    right 0
  .geo
    color #a5a5a5
    font-size 10px
    
.hotel-text
  margin-bottom 20px  
.hotel-price-info
  display table
  width 100%
  .hotel-price
    float left
    span 
      font-size 26px
      font-family sans-serif
      font-weight 800



.rub
  border-bottom 2px solid
  display inline-block
  width 14px
  line-height 5px
     

.bron 
  background-color #c30303  
  text-align center
  width 130px
  display block
  border-radius 5px
  box-shadow 0 2px 6px #666
  margin-left 30px
  font-size 15px
  height 37px
  color #fff
  font-weight 800
  padding-top 7px
  &:hover
    text-decoration underline
.dop-menu
  margin-top 18px
  margin-bottom 10px
  text-align left
  .inline-block
    display inline-block
    margin-left 10px
    padding-left 23px
    padding-right 20px
    text-decoration none
    &.desc
      background url("../img/general/hotel-dop-menu.png")  no-repeat 
      font-size 12px
      background-position 0px 4px
      a
        padding-right 20px
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.price
      font-size 12px
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -41px
      a
        padding-right 20px      
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.foto
      font-size 12px
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -88px
      a
        padding-right 20px      
      &:after
        content "|"
        display inline-block
      &:hover
        text-decoration underline
    &.rewiews
      background url("../img/general/hotel-dop-menu.png")  no-repeat
      background-position 0px -133px      
      font-size 12px
      a
        padding-right 20px
        &:hover
         text-decoration underline

h2.text-name-page
  font-size 35px   
  text-align left
  padding-left 20px
  border-bottom 1px solid #ccc
  margin-bottom 20px 
  font-family helv__thin
  text-transform uppercase
  font-weight 100
  
      
  
