@media screen and (max-width:1190px)
	.header-logo
		padding-left 0px
	#page-wrap
		margin-left 0px
		ul
			li
				margin-right 0px
				&:last-child
					margin-right 0px

@media screen and (max-width:890px)
	#page-wrap
		display block
		ul
			height 3px
	.top-social-links
		position absolute
		top 12px
		left 230px
	.header-logo
		margin-top 4px
		a
			img
				width 100px
				height 80px
	.logo-text
		p
			&.caviar-dream
				font-size 30px
	.top-social-links
		span
			font-size 16px


@media screen and (max-width:640px)
	.item-hotel 
		.img_hotel 
			img
				width 150px
				height 114px
		.hotel-price
			top 115px
			left 30px
			span
				font-size 17px
		.bbron
			top 145px
			left 0px


	.hotel-text
		width 200px