html {
  line-height: 1.4;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.wrap_strip {
  background-color: #f63;
  height: 90px;
}
.base_wrapp {
  padding: 0px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
body {
  font-family: 'roboto_slabregular', sans-serif;
  background-color: #f0f0f0;
}
.h1_style {
  text-align: center;
}
.h1_style h2 {
  color: #000;
  font-size: 35px;
  font-family: 'helveticaneuecyrthin', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.h1_style h2:before,
.h1_style h2:after {
  background: #777 none repeat scroll 0 0;
  position: absolute;
  content: " ";
  width: 180px;
  height: 1px;
  top: 0;
  margin-top: 20px;
  max-width: 100%;
}
.h1_style h2:before {
  left: -220px;
}
.h1_style h2:after {
  right: -220px;
}
.j-wrapper {
  border: none;
  position: relative;
}
.jcarousel ul li {
  border: none;
  background-color: rgba(238,153,238,0.6) e;
  padding: 5px;
}
.jcarousel .item .img {
  width: 275px;
  position: relative;
  margin: 0 auto;
}
.jcarousel .item .img a img {
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
.jcarousel .item .img span {
  position: absolute;
  background-color: #a51622;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 2px 5px;
  color: #fff;
  right: 15px;
  bottom: 55px;
}
.jcarousel .item .name {
  margin: 0 auto;
  background-color: #c30303;
  -webkit-border-radius: 0 33px;
          border-radius: 0 33px;
  height: 48px;
  padding: 0 30px;
  text-align: left;
  text-transform: uppercase;
  width: 275px;
  vertical-align: middle;
  margin-top: 5px;
}
.jcarousel .item .name a {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
.jcarousel .item .desc {
  margin: 0 auto;
  width: 275px;
}
.jcarousel .item .desc .hotel-name {
  text-align: left;
  padding: 7px 0px 10px 10px;
  border-bottom: 1px solid #999;
  width: 65%;
}
.jcarousel .item .desc .hotel-name a {
  font-size: 16px;
}
.jcarousel .item .desc .hotel-name a:hover {
  text-decoration: underline;
}
.jcarousel .item .desc .location {
  text-align: left;
  padding: 1px 0 0 10px;
}
.jcarousel-control-prev,
.jcarousel-control-next {
  background: rgba(0,0,0,0) url("../img/general/actions-arrow.png") no-repeat scroll center center;
  position: absolute;
  width: 30px;
  height: 80px;
}
.jcarousel-control-prev {
  background-position: 0 0;
  top: 40%;
  left: -100px;
}
.jcarousel-control-next {
  top: 40%;
  right: -100px;
  background-position: -28px 0;
}
.block-item-news {
  margin-bottom: 25px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.item-news {
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
  vertical-align: top;
}
.item-news .img {
  float: left;
}
.item-news .img img {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.item-news .desc {
  margin-left: 90px;
}
.item-news .desc .date {
  text-align: left;
}
.item-news .desc .date span {
  font-size: 16px;
  padding-left: 10px;
}
.item-news .desc .date a {
  text-align: left;
  display: block;
  padding-left: 10px;
  color: #98131d;
}
.all-news a {
  color: #cf1223;
  font-size: 15px;
  text-decoration: underline;
}
.all-news a:hover {
  text-decoration: none;
}
.item-hotel {
  border-bottom: 1px solid #aaa;
  display: inline-block;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.item-hotel .img_hotel {
  display: table-cell;
}
.item-hotel .img_hotel img {
  width: 250px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.desc-hotel {
  display: table-cell;
  position: relative;
  text-align: left;
  vertical-align: top;
  padding: 4px 0px 20px 15px;
}
.hotel-info a {
  color: #1375b4;
  font-size: 20px;
}
.hotel-info a:hover {
  text-decoration: underline;
}
.hotel-info .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/general/atelica_logo.png");
  top: 0;
  right: 0;
}
.hotel-info .geo {
  color: #a5a5a5;
  font-size: 10px;
}
.hotel-text {
  margin-bottom: 20px;
}
.hotel-price-info {
  display: table;
  width: 100%;
}
.hotel-price-info .hotel-price {
  float: left;
}
.hotel-price-info .hotel-price span {
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 800;
}
.rub {
  border-bottom: 2px solid;
  display: inline-block;
  width: 14px;
  line-height: 5px;
}
.bron {
  background-color: #c30303;
  text-align: center;
  width: 130px;
  display: block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px #666;
          box-shadow: 0 2px 6px #666;
  float: right;
  margin-left: 30px;
  font-size: 15px;
  height: 37px;
  color: #fff;
  font-weight: 800;
  padding-top: 7px;
}
.bron:hover {
  text-decoration: underline;
}
.dop-menu {
  margin-top: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.dop-menu .inline-block {
  display: inline-block;
  margin-left: 10px;
  padding-left: 23px;
  padding-right: 20px;
  text-decoration: none;
}
.dop-menu .inline-block.desc {
  background: url("../img/general/hotel-dop-menu.png") no-repeat;
  font-size: 12px;
  background-position: 0px 4px;
}
.dop-menu .inline-block.desc a {
  padding-right: 20px;
}
.dop-menu .inline-block.desc:after {
  content: "|";
  display: inline-block;
}
.dop-menu .inline-block.desc:hover {
  text-decoration: underline;
}
.dop-menu .inline-block.price {
  font-size: 12px;
  background: url("../img/general/hotel-dop-menu.png") no-repeat;
  background-position: 0px -41px;
}
.dop-menu .inline-block.price a {
  padding-right: 20px;
}
.dop-menu .inline-block.price:after {
  content: "|";
  display: inline-block;
}
.dop-menu .inline-block.price:hover {
  text-decoration: underline;
}
.dop-menu .inline-block.foto {
  font-size: 12px;
  background: url("../img/general/hotel-dop-menu.png") no-repeat;
  background-position: 0px -88px;
}
.dop-menu .inline-block.foto a {
  padding-right: 20px;
}
.dop-menu .inline-block.foto:after {
  content: "|";
  display: inline-block;
}
.dop-menu .inline-block.foto:hover {
  text-decoration: underline;
}
.dop-menu .inline-block.rewiews {
  background: url("../img/general/hotel-dop-menu.png") no-repeat;
  background-position: 0px -133px;
  font-size: 12px;
}
.dop-menu .inline-block.rewiews a {
  padding-right: 20px;
}
.dop-menu .inline-block.rewiews a:hover {
  text-decoration: underline;
}
.top_header {
  position: relative;
  height: 100px;
  padding: 10px 10px;
}
.header-logo {
  padding-left: 80px;
  float: left;
}
.header-logo a {
  display: block;
}
.header-logo a.logo_pict {
  font-size: 16px;
}
#page-wrap {
  display: inline-block;
  margin-left: 200px;
}
ul.dropdown li {
  background: none;
  margin-right: 45px;
  background-color: #f63;
}
ul.dropdown li a {
  display: block;
  background: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
ul.dropdown li a:hover {
  text-decoration: underline;
  background-color: #f63;
}
ul.submenu {
  z-index: 10;
}
ul.submenu li {
  width: 230px;
}
ul.submenu li a {
  display: block;
  font-size: 12px;
  background-color: #ddd;
  text-shadow: none;
}
ul.submenu li a:hover {
  background-color: #fff;
  color: #333;
  text-decoration: none;
}
.stickytop {
  position: fixed;
  top: 0;
}
.second-nav {
  margin-left: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #dcdcdc;
}
.second-nav ul {
  display: inline-block;
  vertical-align: middle;
}
.second-nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-right: 25px;
}
.second-nav ul li:last-child {
  margin-right: 0px;
}
.second-nav ul a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 15px;
  line-height: 30px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: 'roboto_slabregular', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.second-nav ul a:hover {
  color: #fff;
  background-color: #bbb;
}
.top-social-links {
  float: right;
  margin-top: 5px;
}
.top-social-links span {
  color: #fff;
  font-size: 25px;
  display: block;
}
.top-social-links a {
  display: inline-block;
  padding-right: 5px;
}
.wrap-soc a:first-child {
  margin-left: 4git 5px;
}
.main-slider-wrap .bx-wrapper .bx-viewport {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  left: 0;
  background: none;
}
.footer_wrap {
  background-color: #f63;
  padding: 10px 20px;
}
.footer_wrap p.phone-company {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}
.footer_wrap p.phone {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
#page-wrap-footer {
  margin-left: 0px;
  text-align: center;
}
#page-wrap-footer ul {
  width: 450px;
  margin: 10px auto;
}
#page-wrap-footer ul li {
  display: inline-block;
  margin-right: 30px;
}
#page-wrap-footer ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
#page-wrap-footer ul li a:hover {
  text-decoration: underline;
}
.soc_seti {
  width: 300px;
  margin: 0px auto;
  text-align: center;
}
.soc_seti a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 0px;
}
.nest_line {
  margin: 2px auto;
  width: 400px;
  text-align: center;
}
.nest_line a {
  display: inline-block;
  font-weight: 600;
}
.nest_line a:hover {
  text-decoration: underline;
}
.nest_line p {
  display: inline-block;
}
.nest_line#sought {
  margin-top: 20px;
}
.main-hotel-img {
  background: rgba(0,0,0,0) url("../img/general/fon_lipki.jpg") center center no-repeat;
  z-index: 2;
  display: block !important;
  height: 200px;
}
.desk-wrap {
  width: 100px;
  color: #fff;
  margin: 2px auto;
  height: 100px;
  z-index: 3;
}
.desk-wrap img {
  width: 100%;
}
