@media screen and (max-width: 1190px) {
  .header-logo {
    padding-left: 0px;
  }
  #page-wrap {
    margin-left: 0px;
  }
  #page-wrap ul li {
    margin-right: 0px;
  }
  #page-wrap ul li:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 890px) {
  #page-wrap {
    display: block;
  }
  #page-wrap ul {
    height: 3px;
  }
  .top-social-links {
    position: absolute;
    top: 12px;
    left: 230px;
  }
  .header-logo {
    margin-top: 4px;
  }
  .header-logo a img {
    width: 100px;
    height: 80px;
  }
  .logo-text p.caviar-dream {
    font-size: 30px;
  }
  .top-social-links span {
    font-size: 16px;
  }
  .second-nav ul li {
    margin-right: 10px;
  }
  .second-nav ul li a {
    margin-right: 0px;
    padding: 0px;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .item-hotel .img_hotel img {
    width: 150px;
    height: 114px;
  }
  .item-hotel .hotel-price {
    top: 115px;
    left: 30px;
  }
  .item-hotel .hotel-price span {
    font-size: 17px;
  }
  .item-hotel .bbron {
    top: 145px;
    left: 0px;
  }
  .hotel-text {
    width: 200px;
  }
  .form-back-window {
    width: 300px;
  }
  .promo-single-wrap {
    width: 320px;
  }
  .promo-single-wrap .view h2 {
    padding-top: 20px;
  }
  .promo-single-wrap .view p {
    font-size: 14px;
  }
  .promo-single-wrap .promo-text-block-left span {
    font-size: 12px;
    margin-left: 0px;
    padding-left: 5px;
  }
  .promo-single-wrap .promo-text-block-left span.simbol {
    margin-left: 0px;
    padding-left: 5px;
  }
  .promo-single-wrap .promo-text-block-left p {
    font-size: 12px;
  }
  .promo-single-wrap .promo-text-block-right span {
    font-size: 12px;
    margin-left: 0px;
    padding-left: 5px;
  }
  .promo-single-wrap .promo-text-block-right span.simbol {
    margin-left: 0px;
    padding-left: 5px;
  }
  .promo-single-wrap .promo-text-block-right p {
    font-size: 12px;
  }
  .soc_seti {
    position: static;
  }
  .desc-text {
    display: block;
  }
  div.room-desc {
    width: 300px;
  }
  div.room-desc .knopka {
    position: static;
    width: 130px;
    margin: 0px auto;
  }
}
