doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(name="keywords" content="")
		meta(name="author" content="Саламатин Анатолий")
		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="static/css/libs.min.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="stylesheet" type='text/css' href="static/css/media.css")
		
		title
			block title
	body
		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->
		
		.wrap_strip
			.base_wrapp
				include ../common/header		
		block slider
		block photo_desk
						
		// coment
		//block slider
		block second_menu
		block content

		include ../common/footer
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")

