.footer_wrap
	p.phone-company номер компании
	p.phone +7 (495) 333-33-33
	.soc_seti
		a(title="В контакте" href="javascript:void(0);").inline_block_vk В контакте
		a(title="Facebook" href="javascript:void(0);").inline_block_vk Facebook
		a(title="Instagram" href="javascript:void(0);").inline_block_vk Instagram	
	p.phone-company_hotels
	//p: 
	//	a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия

	.nest_line
		a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия
		p ,  Подмосковье (499) 444-44-44
	.nest_line
		a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия
		p ,  Подмосковье (499) 444-44-44
	.nest_line
		a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия
		p ,  Подмосковье (499) 444-44-44
	.nest_line
		a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия
		p ,  Подмосковье (499) 444-44-44
	.nest_line
		a( href="javascript:void(0);" title="Отель Византия" ) Отель Византия
		p ,  Подмосковье (499) 444-44-44
		


