.footer_wrap
	div#page-wrap-footer
		ul
			li
				a(href="javascript:void(0);") Наши отели
			li
				a(href="/about_company.html") О компании
			li
				a(href="/promoution.html") Акции
			li
				a(href="contacts.html") Контакты	


	p.phone-company OOO "Юг-Cервис":
	p.phone +7 (495) 333-33-33
	.soc_seti
		a(title="В контакте" href="javascript:void(0);").social_1: img(src="../static/img/general/soc-seti-1.png") 
		a(title="В контакте" href="javascript:void(0);").social_2: img(src="../static/img/general/soc-seti-2.png") 
		a(title="В контакте" href="javascript:void(0);").social_3: img(src="../static/img/general/soc-seti-3-2.png") 
		a(title="В контакте" href="javascript:void(0);").social_3: img(src="../static/img/general/soc-seti-4.png") 
	p.phone-company_hotels

	.nest_line
		a( href="/isidor_about.html" title="Отель Византия" ) Отель "Исидор"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/christakis_about.html" title="Отель Христакис" ) Отель "Христакис"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/primorski_about.html" title="Отель Приморский" ) Отель "Приморский"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/rodnik_about.html" title="Отель Родничок" ) Отель "Родничок"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/yug_night_about.html" title="Отель Южная ночь" ) Отель "Южная ночь"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/visantia_about.html" title="Отель Византия" ) Отель "Византия"
		p ,  Анапа: (499) 444-44-44
	.nest_line
		a( href="/poseydon_about.html" title="Отель Посейдон" ) Отель "Посейдон"
		p ,  Анапа: (499) 444-44-44
	.nest_line#sought
		span &copy OOO "Юг-Cервис" 2017

		


