header
	.top_header
		.header-logo
			a(href="index.html").logo_pict: img(src="../static/img/general/logo-3-lark.png")  
		div.logo-text
			a(href="index.html")
				p.caviar-dream ВЛЕТО
				</br>
				p.decor3di УПРАВЛЯЮЩАЯ КОМПАНИЯ

		include ../common/menu
		.top-social-links 
			span.tel +7 918 483-21-51
			.wrap-soc
				a.social_1: img(src="../static/img/general/soc-seti-1.png")
				a.social_2: img(src="../static/img/general/soc-seti-2.png")
				a.social_3: img(src="../static/img/general/soc-seti-3-2.png")
				a.social_3: img(src="../static/img/general/soc-seti-4.png")



