header
	.top_header
		.header-logo
			a(href="javascript:void(0);").logo_pict: img(src="../static/img/general/logoXXXXX.jpg")  
		include ../common/menu
		.top-social-links 
			span.tel +7(495) 222-22-22
			.wrap-soc
				a.social_1: img(src="../static/img/general/vkontakte-logo.png")
				a.social_2: img(src="../static/img/general/facebook-logo.png")
				a.social_3: img(src="../static/img/general/instagram-logo.png")



