div#page-wrap
	ul.dropdown
		li
			a(href="javascript:void(0);") Наши отели
			ul.submenu
				li
					a(href="visantia_about.html") Отель "Византия"
				li
					a(href="isidor_about.html") Отель "Исидор"
				li
					a(href="christakis_about.html") Отель "Христакис"
				li
					a(href="javascript:void(0);") Отель "Южная ночь"
				li
					a(href="primorski_about.html") Отель "Родничок-Приморский"
				li
					a(href="javascript:void(0);") Отель "Базовый"
		li
			a(href="/about_company.html") О компании
		li
			a(href="/promoution.html") Акции
		li
			a(href="/contacts.html") Контакты