div#page-wrap
	ul.dropdown
		li
			a(href="javascript:void(0);") Наши отели
			ul.submenu
				li
					a(href="visantia.html") Отель "Византия"
				li
					a(href="isidor.html") Отель "Исидор"
				li
					a(href="javascript:void(0);") Отель "Христакис"
				li
					a(href="javascript:void(0);") Отель "Южная ночь"
				li
					a(href="javascript:void(0);") Отель "Родничок-Приморский"
				li
					a(href="javascript:void(0);") Отель "Базовый"
		li
			a(href="javascript:void(0);") О компании
		li
			a(href="all_actions.html") Акции
		li
			a(href="javascript:void(0);") Контакты
