div#page-wrap
	ul.dropdown
		li
			a(href="javascript:void(0);") Наши отели
			ul.submenu
				li
					a(href="javascript:void(0);") Отель dsf
				li
					a(href="javascript:void(0);") Отель ghj
				li
					a(href="javascript:void(0);") Отель tyut
		li
			a(href="javascript:void(0);") Акции
		li
			a(href="javascript:void(0);") Контакты
