nav.second-nav
	ul
		li
			a(href="javascript:void(0);") Об отеле
		li
			a(href="javascript:void(0);") Номера
		li
			a(href="javascript:void(0);") Цены
		li
			a(href="javascript:void(0);") Акции
		li
			a(href="visantia_gallery.html") Фото
		li
			a(href="javascript:void(0);") Отзывы
		li
			a(href="visantia_contacts.html") Контакты
