div
	nav.second-nav
		ul
			li
				a(href="javascript:void(0);") Описание
			li
				a(href="javascript:void(0);") Цены
			li
				a(href="javascript:void(0);") Номера
			li
				a(href="javascript:void(0);") Фото
			li
				a(href="javascript:void(0);") Отзывы